auto-install-peers=false
shamefully-hoist=true
enable-pre-post-scripts=true

# docker run -itd --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio:nightly-master
# npm adduser --registry http://localhost:4873
# registry=http://localhost:4873
