@use "../utilities"

$breadcrumb-item-color: var(--link) !default
$breadcrumb-item-hover-color: var(--link-hover) !default
$breadcrumb-item-active-color: var(--text-strong) !default
$breadcrumb-font-size: var(--size-normal) !default

$breadcrumb-item-padding-vertical: 0 !default
$breadcrumb-item-padding-horizontal: 0.75em !default

$breadcrumb-item-separator-color: var(--border-hover) !default

$breadcrumb-li-content: "\0002f" !default

// Map Local variables
$-css-vars-map: ("breadcrumb-font-size": $breadcrumb-font-size, "breadcrumb-item-color": $breadcrumb-item-color, "breadcrumb-item-hover-color": $breadcrumb-item-hover-color, "breadcrumb-item-active-color": $breadcrumb-item-active-color, "breadcrumb-item-separator-color": $breadcrumb-item-separator-color, "breadcrumb-item-padding-vertical": $breadcrumb-item-padding-vertical, "breadcrumb-item-padding-horizontal": $breadcrumb-item-padding-horizontal, "breadcrumb-li-content": $breadcrumb-li-content)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("breadcrumb", $-css-vars-map)
// --breadcrumb-font-size: #{$breadcrumb-font-size}
// --breadcrumb-item-color: #{$breadcrumb-item-color}
// --breadcrumb-item-hover-color: #{$breadcrumb-item-hover-color}
// --breadcrumb-item-active-color: #{$breadcrumb-item-active-color}
// --breadcrumb-item-separator-color: #{$breadcrumb-item-separator-color}
// --breadcrumb-item-padding-vertical: #{$breadcrumb-item-padding-vertical}
// --breadcrumb-item-padding-horizontal: #{$breadcrumb-item-padding-horizontal}

.breadcrumb
  @extend %block
  @extend %unselectable
  font-size: var(--breadcrumb-font-size)
  white-space: nowrap
  a
    align-items: center
    color: var(--breadcrumb-item-color)
    display: flex
    justify-content: center
    padding: var(--breadcrumb-item-padding-vertical) var(--breadcrumb-item-padding-horizontal)
    &:hover
      --breadcrumb-item-color: var(--breadcrumb-item-hover-color)
  li
    align-items: center
    display: flex
    &:first-child a
      +utilities.ltr-property("padding", 0, false)
    &.is-active
      a
        color: var(--breadcrumb-item-active-color)
        cursor: default
        pointer-events: none
    & + li::before
      color: var(--breadcrumb-item-separator-color)
      content: var(--breadcrumb-li-content)
  ul,
  ol
    align-items: flex-start
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
  .icon
    &:first-child
      +utilities.ltr-property("margin", 0.5em)
    &:last-child
      +utilities.ltr-property("margin", 0.5em, false)
  // Alignment
  &.is-centered
    ol,
    ul
      justify-content: center
  &.is-right
    ol,
    ul
      justify-content: right
  &.is-end
    ol,
    ul
      justify-content: flex-end
  // Sizes
  +utilities.control-sizes(breadcrumb-font-size)
  // Styles
  &.has-arrow-separator
    --breadcrumb-li-content: "\02192"
  &.has-bullet-separator
    --breadcrumb-li-content: "\02022"
  &.has-dot-separator
    --breadcrumb-li-content: "\000b7"
  &.has-succeeds-separator
    --breadcrumb-li-content: "\0227B"
