@use "../utilities"

$level-item-spacing: calc(var(--block-spacing) * 0.5) !default

// Map Local variables
$-css-vars-map: ("level-item-spacing": $level-item-spacing)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("level", $-css-vars-map)
// --level-item-spacing: #{$level-item-spacing}

.level
  @extend %block
  align-items: center
  justify-content: space-between
  code
    border-radius: var(--radius)
  img
    display: inline-block
    vertical-align: top
  // Modifiers
  &.is-mobile
    display: flex
    .level-left,
    .level-right,
    .level-start,
    .level-end
      display: flex
    .level-left + .level-right,
    .level-start + .level-end
      +utilities.logical-y(margin, 0, $bottom: false)
    .level-item
      &:not(:last-child)
        +utilities.logical-y(margin, 0, $bottom: true)
        +utilities.logical-x(margin, var(--level-item-spacing), $right: true)
      &:not(.is-narrow)
        flex-grow: 1
  // Responsiveness
  +utilities.tablet
    display: flex
    & > .level-item
      &:not(.is-narrow)
        flex-grow: 1

.level-item
  align-items: center
  display: flex
  flex-basis: auto
  flex-grow: 0
  flex-shrink: 0
  justify-content: center
  .title,
  .subtitle
    +utilities.logical-y(margin, 0, $bottom: true)
  // Responsiveness
  +utilities.mobile
    &:not(:last-child)
      +utilities.logical-y(margin, var(--level-item-spacing), $bottom: true)

.level-left,
.level-start,
.level-right,
.level-end
  flex-basis: auto
  flex-grow: 0
  flex-shrink: 0
  .level-item
    // Modifiers
    &.is-flexible
      flex-grow: 1
    // Responsiveness
    +utilities.tablet
      &:not(:last-child)
        +utilities.logical-x(margin, var(--level-item-spacing), $right: true)

.level-left
  justify-content: left

.level-start
  justify-content: flex-start

.level-left, .level-start
  align-items: center
  // Responsiveness
  +utilities.mobile
    & + .level-right, & + .level-end
      +utilities.logical-y(margin, 1.5rem, $bottom: false)
  +utilities.tablet
    display: flex

.level-right
  justify-content: right

.level-end
  justify-content: flex-end

.level-right,
.level-end
  align-items: center
  // Responsiveness
  +utilities.tablet
    display: flex
