@use "../utilities"
@use "../utilities/mixins-scss"

$media-border-color: mixins-scss.set-color-alpha(var(--border), 0.5) !default
$media-border-size: 1px !default
$media-spacing: 1rem !default
$media-spacing-large: 1.5rem !default
$media-content-spacing: 0.75rem !default
$media-level-1-spacing: 0.75rem !default
$media-level-1-content-spacing: 0.5rem !default
$media-level-2-spacing: 0.5rem !default

// Map Local variables
$-css-vars-map: ("media-border-color": $media-border-color, "media-border-size": $media-border-size, "media-spacing": $media-spacing, "media-spacing-large": $media-spacing-large, "media-content-spacing": $media-content-spacing, "media-level-1-spacing": $media-level-1-spacing, "media-level-1-content-spacing": $media-level-1-content-spacing, "media-level-2-spacing": $media-level-2-spacing)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("media", $-css-vars-map)
// --media-border-color: #{$media-border-color}
// --media-border-size: #{$media-border-size}
// --media-spacing: #{$media-spacing}
// --media-spacing-large: #{$media-spacing-large}

.media
  @extend %block
  align-items: flex-start
  display: flex
  text-align: inherit
  .content:not(:last-child)
    +utilities.logical-y(margin, var(--media-content-spacing), $bottom: true)
  .media
    border-top: var(--media-border-size) solid var(--media-border-color)
    display: flex
    +utilities.logical-y(padding, var(--media-level-1-spacing), $bottom: false)
    :is(.content, .control)
      &:not(:last-child)
        +utilities.logical-y(margin, var(--media-level-1-content-spacing), $bottom: true)
    .media
      +utilities.logical-y(padding, var(--media-level-2-spacing), $bottom: false)
      & + .media
        +utilities.logical-y(margin, var(--media-level-2-spacing), $bottom: false)
  & + .media
    border-top: var(--media-border-size) solid var(--media-border-color)
    +utilities.logical-y(margin, var(--media-spacing), $bottom: false)
    +utilities.logical-y(padding, var(--media-spacing), $bottom: false)
  // Sizes
  &.is-large
    & + .media
      +utilities.logical-y(margin, var(--media-spacing-large), $bottom: false)
      +utilities.logical-y(padding, var(--media-spacing-large), $bottom: false)

.media-left,
.media-start,
.media-right,
.media-end
  flex-basis: auto
  flex-grow: 0
  flex-shrink: 0

.media-left,
.media-start
  +utilities.logical-x(margin, var(--media-spacing), $right: true)

.media-right,
.media-end
  +utilities.logical-x(margin, var(--media-spacing), $right: false)

.media-content
  flex-basis: auto
  flex-grow: 1
  flex-shrink: 1
  text-align: inherit

+utilities.mobile
  .media-content
    overflow-x: auto
