@use "sass:color"
@use "sass:list"
@use "sass:math"
@use "sass:meta"

@use "../utilities/derived-variables" as vars
@use "../utilities"

$message-background-color: var(--background) !default
$message-radius: var(--radius) !default
$message-font-size: var(--size-normal) !default

$message-header-background-color: var(--text) !default
$message-header-color: var(--text-invert) !default
$message-header-weight: var(--weight-bold) !default
$message-header-padding: 0.75em 1em !default
$message-header-radius: var(--radius) !default

$message-body-border-color: var(--border) !default
$message-body-border-width: 4px !default
$message-body-color: var(--text) !default
$message-body-padding: 1.25em 1.5em !default
$message-body-radius: var(--radius) !default

$message-body-pre-background-color: var(--scheme-main) !default
$message-body-pre-code-background-color: transparent !default

$message-header-body-border-width: 0 !default
$message-colors: vars.$colors !default

// Map Local variables
$-css-vars-map: ("message-background-color": $message-background-color, "message-font-size": $message-font-size, "message-radius": $message-radius, "message-header-background-color": $message-header-background-color, "message-header-color": $message-header-color, "message-header-weight": $message-header-weight, "message-header-padding": $message-header-padding, "message-header-radius": $message-header-radius, "message-body-border-color": $message-body-border-color, "message-body-radius": $message-body-radius, "message-body-border-width": $message-body-border-width, "message-body-color": $message-body-color, "message-body-padding": $message-body-padding, "message-body-pre-background-color": $message-body-pre-background-color, "message-header-body-border-width": $message-header-body-border-width, "message-body-pre-code-background-color": $message-body-pre-code-background-color)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("message", $-css-vars-map)
// --message-background-color: #{$message-background-color}
// --message-font-size: #{$message-font-size}
// --message-radius: #{$message-radius}
// --message-header-background-color: #{$message-header-background-color}
// --message-header-color: #{$message-header-color}
// --message-header-weight: #{$message-header-weight}
// --message-header-padding: #{$message-header-padding}
// --message-header-radius: #{$message-header-radius}
// --message-body-border-color: #{$message-body-border-color}
// --message-body-radius: #{$message-body-radius}
// --message-body-border-width: #{$message-body-border-width}
// --message-body-color: #{$message-body-color}
// --message-body-padding: #{$message-body-padding}
// --message-body-pre-background-color: #{$message-body-pre-background-color}
// --message-header-body-border-width: #{$message-header-body-border-width}
// --message-body-pre-code-background-color: #{$message-body-pre-code-background-color}

.message
  @extend %block
  background-color: var(--message-background-color)
  border-radius: var(--message-radius)
  font-size: var(--message-font-size)
  strong
    color: currentColor
  a:not(.button):not(.tag):not(.dropdown-item)
    color: currentColor
    text-decoration: underline
  // Sizes
  +utilities.control-sizes(message-font-size)
  // Colors
  @each $name, $components in $message-colors
    &.is-#{$name}
      --message-background-color: var(--#{$name}-light)
      --message-header-background-color: var(--#{$name})
      --message-header-color: var(--#{$name}-invert)
      --message-body-border-color: var(--#{$name})
      --message-body-color: var(--#{$name}-dark)

.message-header
  align-items: center
  background-color: var(--message-header-background-color)
  +utilities.ltr-border-y("radius", var(--message-header-radius))
  color: var(--message-header-color)
  display: flex
  font-weight: var(--message-header-weight)
  justify-content: space-between
  line-height: 1.25
  padding: var(--message-header-padding)
  position: relative
  .delete
    flex-grow: 0
    flex-shrink: 0
    +utilities.ltr-property("margin", 0.75em, false)
  & + .message-body
    border-width: var(--message-header-body-border-width)
    +utilities.ltr-border-y("radius", 0)

.message-body
  border-color: var(--message-body-border-color)
  border-radius: var(--message-body-radius)
  border-style: solid
  border-width: var(--message-header-body-border-width)
  border-inline-start-width: var(--message-body-border-width)
  color: var(--message-body-color)
  padding: var(--message-body-padding)
  code,
  pre
    background-color: var(--message-body-pre-background-color)
  pre code
    background-color: var(--message-body-pre-code-background-color)
