$dropdown-content-max-height: 200px !default;

$css-vars-map: (
    'dropdown-content-max-height': $dropdown-content-max-height
);

@include exportCSSVars($css-vars-map);
@include registerComponentCSSVars('autocomplete');

.autocomplete {
    position: relative;
    .dropdown-menu {
        display: block;
        width: 100%;
        &.is-opened-top {
            top: auto;
            bottom: 100%;
        }
    }
    .dropdown-content {
        overflow: auto;
        max-height: var(--dropdown-content-max-height);
    }
    .dropdown-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.is-hovered {
            background: var(--dropdown-item-hover-background-color, #{$dropdown-item-hover-background-color});
            color: var(--dropdown-item-hover-color, #{$dropdown-item-hover-color});
        }
        &.is-disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    @include control-sizes;
}
