@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/components/dropdown" as bulma-dropdown;

$dropdown-content-max-height: 200px !default;

// Map Local variables
$_css-vars-map: (
    'dropdown-content-max-height': $dropdown-content-max-height
);

// Register CSS Variables
@include bulma-utilities.exportCSSVars($_css-vars-map);
@include bulma-utilities.registerComponentCSSVars('autocomplete', $_css-vars-map);

.autocomplete {
    position: relative;
    .dropdown-menu {
        display: block;
        width: 100%;
        &.is-opened-top {
            top: auto;
            bottom: 100%;
        }
    }
    .dropdown-content {
        overflow: auto;
        max-height: var(--dropdown-content-max-height);
    }
    .dropdown-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.is-hovered {
            background: var(--dropdown-item-hover-background-color, #{bulma-dropdown.$dropdown-item-hover-background-color});
            color: var(--dropdown-item-hover-color, #{bulma-dropdown.$dropdown-item-hover-color});
        }
        &.is-disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    @include bulma-utilities.control-sizes;
}
