@use "sass:list";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/utilities/derived-variables" as bulma-vars;
@use "../../../bulma/sass/form/shared" as bulma-form;
@use "../../../bulma/sass/components/dropdown" as bulma-dropdown;

$datepicker-background-color: var(--dropdown-content-background-color, #{bulma-dropdown.$dropdown-content-background-color}) !default;
$datepicker-radius: var(--dropdown-content-radius, #{bulma-dropdown.$dropdown-content-radius}) !default;
$datepicker-shadow: var(--dropdown-content-shadow, #{bulma-dropdown.$dropdown-content-shadow}) !default;
$datepicker-header-color: bulma-vars.$grey !default;
$datepicker-today-border: solid 1px !default;
$datepicker-item-color: bulma-vars.$grey-dark !default;
$datepicker-item-disabled-color: bulma-vars.$grey-light !default;
$datepicker-item-hover-color: var(--scheme-invert, #{bulma-vars.$scheme-invert}) !default;
$datepicker-item-hover-background-color: var(--background, #{bulma-vars.$background}) !default;
$datepicker-item-selected-color: var(--primary-invert, #{bulma-vars.$primary-invert}) !default;
$datepicker-item-selected-background-color: var(--primary, #{bulma-vars.$primary}) !default;

$datepicker-colors: bulma-form.$form-colors !default;

// Map Local variables
$_css-vars-map: (
    'datepicker-background-color': $datepicker-background-color,
    'datepicker-radius': $datepicker-radius,
    'datepicker-shadow': $datepicker-shadow,
    'datepicker-header-color': $datepicker-header-color,
    'datepicker-today-border': $datepicker-today-border,
    'datepicker-item-color': $datepicker-item-color,
    'datepicker-item-disabled-color': $datepicker-item-disabled-color,
    'datepicker-item-hover-color': $datepicker-item-hover-color,
    'datepicker-item-hover-background-color': $datepicker-item-hover-background-color,
    'datepicker-item-selected-color': $datepicker-item-selected-color,
    'datepicker-item-selected-background-color': $datepicker-item-selected-background-color,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($_css-vars-map);
@include bulma-utilities.registerComponentCSSVars('datepicker', $_css-vars-map);

.datepicker {
    font-size: 0.875rem;
    .dropdown,
    .dropdown-trigger {
        width: 100%;
        .input[readonly] {
            cursor: pointer;
            box-shadow: var(--input-shadow, #{bulma-form.$input-shadow});
            &:focus,
            &.is-focused,
            &:active,
            &.is-active {
                box-shadow: var(--input-focus-box-shadow-size, #{bulma-form.$input-focus-box-shadow-size}) var(--input-focus-box-shadow-color, #{bulma-form.$input-focus-box-shadow-color})
            }
        }
    }
    // unset opacity when dropdow is disabled
    .dropdown {
        &.is-disabled {
            opacity: 1;
        }
    }
    .dropdown-content {
        background-color: var(--datepicker-background-color);
        border-radius: var(--datepicker-radius);
        box-shadow: var(--datepicker-shadow);
    }
    .dropdown-item {
        font-size: inherit;
    }
    .datepicker-header {
        padding-bottom: 0.875rem;
        margin-bottom: 0.875rem;
        border-bottom: 1px solid var(--grey-lighter, #{bulma-vars.$grey-lighter});
    }
    .datepicker-footer {
        margin-top: 0.875rem;
        padding-top: 0.875rem;
        border-top: 1px solid var(--grey-lighter, #{bulma-vars.$grey-lighter});
    }
    .datepicker-table {
        display: table;
        margin: 0 auto 0 auto;
        .datepicker-cell {
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            border-radius: var(--radius, #{bulma-vars.$radius});
            padding: 0.5rem 0.75rem;
        }
        .datepicker-header {
            display: table-header-group;
            .datepicker-cell {
                color: var(--datepicker-header-color);
                font-weight: var(--weight-semibold, #{bulma-vars.$weight-semibold});
            }
        }
        .datepicker-body {
            display: table-row-group;
            .datepicker-row {
                display: table-row;
            }
            .datepicker-months {
                display: inline-flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 17rem;
                .datepicker-cell {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 33.33%;
                    height: 2.5rem;
                }
            }
            .datepicker-cell {
                &.is-unselectable {
                    color: var(--datepicker-item-disabled-color);
                }
                &.is-today {
                    --datepicker-today-border-color: #{bulma-utilities.bulmaVarOpacity(primary, 0.5)};
                    border: var(--datepicker-today-border) var(--datepicker-today-border-color, #{bulma-utilities.bulmaRgba(bulma-vars.$primary, 0.5)});
                }
                &.is-selectable {
                    color: var(--datepicker-item-color);
                    &:hover:not(.is-selected),
                    &:focus:not(.is-selected) {
                        background-color: var(--datepicker-item-hover-background-color);
                        color: var(--datepicker-item-hover-color);
                        cursor: pointer;
                    }
                    &.is-within-hovered-range {
                        &.is-first-hovered {
                            background-color: var(--grey, #{bulma-vars.$grey});
                            color: var(--grey-lighter, #{bulma-vars.$grey-lighter});
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                        }
                        &.is-within-hovered {
                            background-color: var(--datepicker-item-hover-background-color);
                            color: var(--datepicker-item-hover-color);
                            border-radius: 0;
                        }
                        &.is-last-hovered {
                            background-color: var(--grey, #{bulma-vars.$grey});
                            color: var(--grey-lighter, #{bulma-vars.$grey-lighter});
                            border-bottom-left-radius: 0;
                            border-top-left-radius: 0;
                        }
                    }
                }
                &.is-selected {
                    background-color: var(--datepicker-item-selected-background-color);
                    color: var(--datepicker-item-selected-color);
                    &.is-first-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        color: var(--datepicker-item-selected-color);
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                    &.is-within-selected {
                        --datepicker-item-selected-background-color: #{bulma-utilities.bulmaVarOpacity(primary, 0.5)};
                        background-color: var(--datepicker-item-selected-background-color, #{bulma-utilities.bulmaRgba(bulma-vars.$primary, 0.5)});
                        border-radius: 0;
                    }
                    &.is-last-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        color: var(--datepicker-item-selected-color);
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }
                }
                &.is-nearby:not(.is-selected) {
                    color: var(--grey-light, #{bulma-vars.$grey-light});
                }
                &.is-week-number {
                    cursor: default;
                }
            }
            &.has-events {
                .datepicker-cell {
                    padding: 0.3rem 0.75rem 0.75rem;
                    &.has-event {
                        position: relative;
                        .events {
                            bottom: .425rem;
                            display: flex;
                            justify-content: center;
                            left: 0;
                            padding: 0 .35rem;
                            position: absolute;
                            width: 100%;
                            .event {
                                @each $name, $pair in $datepicker-colors {
                                    $color: list.nth($pair, 1);
                                    &.is-#{$name} {
                                        background-color: var(--#{$name} #{$color});
                                    }
                                }
                            }
                        }
                        &.dots .event {
                            border-radius: 50%;
                            height: .35em;
                            margin: 0 .1em;
                            width: .35em;
                        }
                        &.bars .event {
                            height: .25em;
                            width: 100%;
                        }
                    }
                    &.is-selected {
                        overflow: hidden;
                        .events .event {
                            // Currently datepicker only uses primary coloring
                            // Ensure indicator is visible when selected
                            &.is-primary {
                                --datepicker-background-color-selected: #{bulma-utilities.bulmaVarLighten(primary, 15%)};
                                background-color: var(--datepicker-background-color-selected, #{bulma-utilities.bulmaLighten(bulma-vars.$primary, 15%)});
                            }
                        }
                    }
                }
            }
        }
    }
    @include bulma-utilities.control-sizes;
    @media screen and (min-width: bulma-vars.$desktop){
        .footer-horizontal-timepicker {
            border: none;
            padding-left: 10px;
            margin-left: 5px;
            display: flex;
        }
        .dropdown-horizonal-timepicker {
            display: flex;
        }
        .content-horizonal-timepicker {
            border-right: 1px solid #dbdbdb;
        }
    }
}
