@use "../../node_modules/@bulvar/bulma/sass/utilities" as bulma-utilities;
@use "../../node_modules/@bulvar/bulma/sass/components/card" as bulma-card;

.dialog {
    .modal-card {
        max-width: 460px;
        width: auto;
        .modal-card-head {
            font-size: bulma-utilities.$size-5;
            font-weight: var(--weight-semibold, #{bulma-utilities.$weight-semibold});
        }
        .modal-card-body {
            .field {
                margin-top: 16px;
            }
            &.is-titleless {
                border-top-left-radius: var(--card-radius, #{bulma-card.$card-radius});
                border-top-right-radius: var(--card-radius, #{bulma-card.$card-radius});
            }
        }
        .modal-card-foot {
            justify-content: flex-end;
            .button {
                display: inline; // Fix Safari centering
                min-width: 5em;
                font-weight: var(--weight-semibold, #{bulma-utilities.$weight-semibold});
            }
        }
        @include bulma-utilities.tablet {
            min-width: 320px;
        }
    }
    &.is-small {
        .modal-card,
        .input,
        .button {
            @include bulma-utilities.control-small;
        }
    }
    &.is-medium {
        .modal-card,
        .input,
        .button {
            @include bulma-utilities.control-medium;
        }
    }
    &.is-large {
        .modal-card,
        .input,
        .button {
            @include bulma-utilities.control-large;
        }
    }
    &.has-custom-container {
        position: absolute;
    }
}
