@use "sass:list";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/elements/tag" as bulma-tag;

.tag {
    .has-ellipsis {
        max-width: 10em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .delete, &.is-delete, &.has-delete-icon {
        @each $name, $pair in bulma-tag.$tag-colors {
            $color: list.nth($pair, 1);
            &.is-#{$name} {
                background: var(--#{$name}, #{$color});
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &.has-delete-icon {
        padding: 0px;
        .icon:first-child:not(:last-child) {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}
