@use "bulma/sass/utilities" as bulma-utilities;
@use "bulma/sass/form/shared" as bulma-form;

.timepicker {
    .dropdown-menu {
        min-width: 0;
    }
    .dropdown,
    .dropdown-trigger {
        width: 100%;
        .input[readonly] {
            cursor: pointer;
            box-shadow: var(--input-shadow, #{bulma-form.$input-shadow});
            &:focus,
            &.is-focused,
            &:active,
            &.is-active {
                box-shadow: var(--input-focus-box-shadow-size, #{bulma-form.$input-focus-box-shadow-size}) var(--input-focus-box-shadow-color, #{bulma-form.$input-focus-box-shadow-color});
            }
        }
    }
    // unset opacity when dropdow is disabled
    .dropdown {
        &.is-disabled {
            opacity: 1;
        }
    }
    .dropdown-item {
        font-size: inherit;
        padding: 0;
    }
    .timepicker-footer {
        padding: 0 0.5rem 0 0.5rem;
    }
    .dropdown-content {
        .control {
            font-size: 1.25em;
            margin-right: 0 !important;
            .select {
                margin: 0 0.125em;

                select {
                    font-weight: var(--weight-semibold, #{bulma-utilities.$weight-semibold});
                    padding-right: var(--control-padding-horizontal, #{bulma-utilities.$control-padding-horizontal});
                    border: 0;
                    option {
                        &:disabled {
                            color: bulma-utilities.bulmaRgba(bulma-utilities.$grey, 0.7);
                        }
                    }
                }
                &:after {
                    display: none;
                }
            }
            &.is-colon {
                font-size: 1.7em;
                line-height: 1.7em;

                &:last-child {
                    padding-right: var(--control-padding-horizontal, #{bulma-utilities.$control-padding-horizontal});
                }
            }
        }
    }
    // Sizes
    @include bulma-utilities.control-sizes;
}
