@use "../../../bulma/sass/utilities" as bulma-utilities;

$colorpicker-radius: var(--dropdown-content-radius) !default;
$colorpicker-hue-selected-stroke: var(--primary) !default;

// Map Local variables
$-css-vars-map: (
    "colorpicker-radius": $colorpicker-radius,
    "colorpicker-hue-selected-stroke": $colorpicker-hue-selected-stroke,
);

// Register CSS Variables
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("colorpicker", $-css-vars-map);

// TODO: submit PR to rename to b-colorpicker
.b-colorpicker, .colorpicker {
    .color-name {
        font-family: var(--family-monospace);
        text-transform: uppercase;
    }
    .colorpicker-footer {
        padding-top: .875rem;
        border: 1px solid var(--grey-lighter);
        border-width: 1px 0 0;
        margin-top: .875rem;

        .colorpicker-fields {
            margin-bottom: .875rem;

            .field {
                flex-grow: 1;

                .field-label {
                    @include bulma-utilities.ltr-property("margin", .5rem);
                }
                .control {
                    display: flex;
                    .input {
                        width: 0;
                        min-width: 42px;
                        flex-grow: 1;
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        appearance: textfield;
                        text-align: end;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            margin: 0;
                            -webkit-appearance: none;
                        }
                    }
                }
            }
        }
    }
    .dropdown.is-expanded .dropdown-menu,
    .dropdown.is-expanded.is-mobile-modal .dropdown-menu {
        width: unset;
    }
    .dropdown-horizonal-colorpicker {
        display: flex;
        flex-direction: row;

        .colorpicker-footer {
            padding-top: 0;
            border-width: 0 0 0 1px;
            margin-top: 0;
            @include bulma-utilities.ltr-property("margin", 0.875rem, false);
            @include bulma-utilities.ltr-property("padding", 0.875rem, false);
        }
    }
}

svg.b-colorpicker-triangle {
    width: 200px;
    height: 200px;
    @extend %unselectable;

    @include bulma-utilities.mobile {
        width: 100%;
        height: auto;
    }

    .colorpicker-triangle-hue {
        width: 100%;
        height: 100%;
        background:
            conic-gradient(
                #f00,
                #ff0,
                #0f0,
                #0ff,
                #00f,
                #f0f,
                #f00
            );
    }

    .colorpicker-triangle-slider {
        &-hue,
        &-sl {
            &,
            & foreignObject,
            & g {
                transform-origin: 50% 50%;
            }
        }
    }

    .hue-range-thumb,
    .sl-range-thumb {
        width: calc(100% / 1 - .25em / 1);
        height: calc(100% / 1 - .25em / 1);
        margin: .125em;
        background: transparent;
        border-radius: var(--colorpicker-radius);
        box-shadow:
            inset 0 0 0 1px #fff,
            0 0 0 1px var(--grey-lighter);
        cursor: grab;

        &:hover {
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px var(--grey-light);
        }
        &:focus {
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px var(--colorpicker-hue-selected-stroke);
            // 0 0 0 .125em rgba($colorpicker-hue-selected-stroke, .25);
        }
        &:active {
            cursor: grabbing;
        }
    }
}

div.b-colorpicker-square {
    position: relative;
    aspect-ratio: 1/1;
    @extend %unselectable;

    .colorpicker-square-slider-hue {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            conic-gradient(
                #f00,
                #ff0,
                #0f0,
                #0ff,
                #00f,
                #f0f,
                #f00
            );
        border-radius: var(--colorpicker-radius);

        .hue-range-thumb {
            position: absolute;
            aspect-ratio: 1 / 1;
            border-radius: calc(var(--colorpicker-radius) / 1.75);
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px var(--grey-lighter);
            cursor: grab;
            transform: translate(-50%, -50%);

            &:hover {
                box-shadow:
                    inset 0 0 0 1px #fff,
                    inset 0 0 0 2px var(--grey-light),
                    0 0 0 1px var(--grey-light);
            }
            &:focus {
                box-shadow:
                    inset 0 0 0 1px #fff,
                    0 0 0 1px var(--colorpicker-hue-selected-stroke);
                // 0 0 0 .125em rgba($colorpicker-hue-selected-stroke, .25);
            }
            &:active {
                cursor: grabbing;
            }
        }
    }
    .colorpicker-square-slider-sl {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        border-radius: calc(var(--colorpicker-radius) / 2);

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, #000, #fff);
            content: "";
            mix-blend-mode: hard-light;
        }

        .sl-range-thumb {
            position: absolute;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: var(--colorpicker-radius);
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px var(--grey-lighter);
            cursor: grab;
            transform: translate(-50%, -50%);

            &:hover {
                box-shadow:
                    inset 0 0 0 1px #fff,
                    inset 0 0 0 2px var(--grey-light),
                    0 0 0 1px var(--grey-light);
            }
            &:focus {
                box-shadow:
                    inset 0 0 0 1px #fff,
                    0 0 0 1px var(--colorpicker-hue-selected-stroke);
                // 0 0 0 .125em rgba($colorpicker-hue-selected-stroke, .25);
            }
            &:active {
                cursor: grabbing;
            }
        }
    }
}

.b-colorpicker-alpha-slider {
    position: relative;
    height: 1em;
    margin-top: .125em;
    margin-bottom: .875rem;
    background-image:
        linear-gradient(45deg, #c7c7c7 25%, transparent 25%, transparent 75%, #c7c7c7 75%, #c7c7c7),
        linear-gradient(45deg, #c7c7c7 25%, transparent 25%, transparent 75%, #c7c7c7 75%, #c7c7c7);
    background-position: .5em .5em, 0 0;
    background-size: 1em 1em;
    border-radius: var(--colorpicker-radius);

    .alpha-range-thumb {
        position: absolute;
        top: 50%;
        left: 0;
        width: .4em;
        height: 1.25em;
        border-radius: var(--colorpicker-radius);
        box-shadow:
            inset 0 0 0 1px #fff,
            inset 0 0 0 2px var(--grey-lighter),
            0 0 0 1px var(--grey-lighter);
        cursor: grab;
        transform: translate(-50%, -50%);

        &:hover {
            box-shadow:
                inset 0 0 0 1px #fff,
                inset 0 0 0 2px var(--grey-light),
                0 0 0 1px var(--grey-light);
        }
        &:focus {
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px var(--colorpicker-hue-selected-stroke);
            // 0 0 0 .125em rgba($colorpicker-hue-selected-stroke, .25);
        }
        &:active {
            cursor: grabbing;
        }

        & > .b-tooltip {
            &,
            &> .tooltip-trigger {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
            }
        }
    }
}
