@use "sass:list";
@use "sass:math";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/utilities/derived-variables" as bulma-vars;
@use "../../../bulma/sass/utilities/mixins-scss" as bulma-mixins-scss;
@use "../../../bulma/sass/form/shared" as bulma-form;

$datepicker-background-color: var(--dropdown-content-background-color) !default;
$datepicker-radius: var(--dropdown-content-radius) !default;
$datepicker-shadow: var(--dropdown-content-shadow) !default;
$datepicker-header-color: var(--grey) !default;
$datepicker-today-border-color: bulma-mixins-scss.set-color-alpha(var(--primary), 0.5) !default;
$datepicker-today-border: solid 1px !default;
$datepicker-item-color: var(--grey-dark) !default;
$datepicker-item-disabled-color: var(--grey-light) !default;
$datepicker-item-hover-color: var(--scheme-invert) !default;
$datepicker-item-hover-background-color: var(--background) !default;
$datepicker-item-selected-color: var(--primary-invert) !default;
$datepicker-item-selected-background-color: var(--primary) !default;

$datepicker-colors: bulma-form.$form-colors !default;

// Map Local variables
$-css-vars-map: (
    "datepicker-background-color": $datepicker-background-color,
    "datepicker-radius": $datepicker-radius,
    "datepicker-shadow": $datepicker-shadow,
    "datepicker-header-color": $datepicker-header-color,
    "datepicker-today-border-color": $datepicker-today-border-color,
    "datepicker-today-border": $datepicker-today-border,
    "datepicker-item-color": $datepicker-item-color,
    "datepicker-item-disabled-color": $datepicker-item-disabled-color,
    "datepicker-item-hover-color": $datepicker-item-hover-color,
    "datepicker-item-hover-background-color": $datepicker-item-hover-background-color,
    "datepicker-item-selected-color": $datepicker-item-selected-color,
    "datepicker-item-selected-background-color": $datepicker-item-selected-background-color,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("datepicker", $-css-vars-map);

.datepicker {
    font-size: 0.875rem;
    :is(.dropdown, .dropdown-trigger) {
        width: 100%;
        .input[readonly] {
            box-shadow: var(--input-shadow);
            cursor: pointer;
            &:is(:focus, .is-focused, :active, .is-active) {
                box-shadow: var(--input-focus-box-shadow-size) var(--input-focus-box-shadow-color)
            }
        }
    }
    // unset opacity when dropdown is disabled
    .dropdown {
        &.is-disabled {
            opacity: 1;
        }
    }
    .dropdown-content {
        border-radius: var(--datepicker-radius);
        background-color: var(--datepicker-background-color);
        box-shadow: var(--datepicker-shadow);
    }
    .dropdown-item {
        font-size: inherit;
    }
    .datepicker-header {
        @include bulma-utilities.logical-y(padding, 0.875rem, $bottom: true);
        border-bottom: 1px solid var(--grey-lighter);
        @include bulma-utilities.logical-y(margin, 0.875rem, $bottom: true);
    }
    .datepicker-footer {
        @include bulma-utilities.logical-y(padding, 0.875rem, $bottom: false);
        border-top: 1px solid var(--grey-lighter);
        @include bulma-utilities.logical-y(margin, 0.875rem, $bottom: false);
    }
    .datepicker-table {
        display: table;
        margin: 0 auto;
        .datepicker-cell {
            display: table-cell;
            padding: 0.5rem 0.75rem;
            border-radius: var(--radius);
            text-align: center;
            vertical-align: middle;
        }
        .datepicker-header {
            display: table-header-group;
            .datepicker-cell {
                color: var(--datepicker-header-color);
                font-weight: var(--weight-semibold);
            }
        }
        .datepicker-body {
            display: table-row-group;
            .datepicker-row {
                display: table-row;
            }
            .datepicker-months {
                display: inline-flex;
                width: 17rem;
                flex-direction: row;
                flex-wrap: wrap;
                .datepicker-cell {
                    display: flex;
                    width: math.div(100, 3) * 1%;
                    height: 2.5rem;
                    align-items: center;
                    justify-content: center;
                }
            }
            .datepicker-cell {
                &.is-unselectable {
                    color: var(--datepicker-item-disabled-color);
                }
                &.is-today {
                    border: var(--datepicker-today-border) var(--datepicker-today-border-color);
                }
                &.is-selectable {
                    color: var(--datepicker-item-color);
                    &:is(:hover, :focus) {
                        &:not(.is-selected) {
                            background-color: var(--datepicker-item-hover-background-color);
                            color: var(--datepicker-item-hover-color);
                            cursor: pointer;
                        }
                    }
                    &.is-within-hovered-range {
                        &.is-first-hovered {
                            background-color: var(--grey);
                            @include bulma-utilities.logical-border-radius(right, 0);
                            color: var(--grey-lighter);
                        }
                        &.is-within-hovered {
                            border-radius: 0;
                            background-color: var(--datepicker-item-hover-background-color);
                            color: var(--datepicker-item-hover-color);
                        }
                        &.is-last-hovered {
                            background-color: var(--grey);
                            @include bulma-utilities.logical-border-radius(left, 0);
                            color: var(--grey-lighter);
                        }
                    }
                }
                &.is-selected {
                    background-color: var(--datepicker-item-selected-background-color);
                    color: var(--datepicker-item-selected-color);
                    &.is-first-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        @include bulma-utilities.logical-border-radius(right, 0);
                        color: var(--datepicker-item-selected-color);
                    }
                    &.is-within-selected {
                        border-radius: 0;
                        background-color: #{bulma-mixins-scss.set-color-alpha(var(--primary), 0.5)};
                    }
                    &.is-last-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        @include bulma-utilities.logical-border-radius(left, 0);
                        color: var(--datepicker-item-selected-color);
                    }
                }
                &.is-nearby:not(.is-selected) {
                    color: var(--grey-light);
                }
                &.is-week-number {
                    cursor: default;
                }
            }
            &.has-events {
                .datepicker-cell {
                    padding: 0.3rem 0.75rem 0.75rem;
                    &.has-event {
                        position: relative;
                        .events {
                            position: absolute;
                            bottom: .425rem;
							@include bulma-utilities.logical-x(inset, 0, $right: false);
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            padding: 0 .35rem;
                            .event {
                                @each $name, $pair in $datepicker-colors {
                                    $color: list.nth($pair, 1);
                                    &.is-#{$name} {
                                        background-color: var(--#{$name});
                                    }
                                }
                            }
                        }
                        &.dots .event {
                            width: .35em;
                            height: .35em;
                            border-radius: 50%;
                            margin: 0 .1em;
                        }
                        &.bars .event {
                            width: 100%;
                            height: .25em;
                        }
                    }
                    &.is-selected {
                        overflow: hidden;
                        .events .event {
                            // Currently datepicker only uses primary coloring
                            // Ensure indicator is visible when selected
                            &.is-primary {
                                background-color: #{bulma-mixins-scss.lighten-color(var(--primary), 15)};
                            }
                        }
                    }
                }
            }
        }
    }
    @include bulma-utilities.control-sizes;
    @include bulma-utilities.desktop {
        .footer-horizontal-timepicker {
            display: flex;
            @include bulma-utilities.logical-x(padding, 10px, $right: false);
            border:none;
            @include bulma-utilities.logical-x(margin, 0.5em, $right: false);
        }
        .dropdown-horizontal-timepicker {
            display: flex;
        }
        .content-horizontal-timepicker {
			@include bulma-utilities.logical-x(border, 1px solid #dbdbdb, $right: true);
        }
    }
}
