@use "sass:list";
@use "sass:math";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/utilities/derived-variables" as bulma-vars;
@use "../../../bulma/sass/form/shared" as bulma-form;

$datepicker-background-color: var(--dropdown-content-background-color) !default;
$datepicker-radius: var(--dropdown-content-radius) !default;
$datepicker-shadow: var(--dropdown-content-shadow) !default;
$datepicker-header-color: var(--grey) !default;
$datepicker-today-border: solid 1px !default;
$datepicker-item-color: var(--grey-dark) !default;
$datepicker-item-disabled-color: var(--grey-light) !default;
$datepicker-item-hover-color: var(--scheme-invert) !default;
$datepicker-item-hover-background-color: var(--background) !default;
$datepicker-item-selected-color: var(--primary-invert) !default;
$datepicker-item-selected-background-color: var(--primary) !default;

$datepicker-colors: bulma-form.$form-colors !default;

// Map Local variables
$-css-vars-map: (
    "datepicker-background-color": $datepicker-background-color,
    "datepicker-radius": $datepicker-radius,
    "datepicker-shadow": $datepicker-shadow,
    "datepicker-header-color": $datepicker-header-color,
    "datepicker-today-border": $datepicker-today-border,
    "datepicker-item-color": $datepicker-item-color,
    "datepicker-item-disabled-color": $datepicker-item-disabled-color,
    "datepicker-item-hover-color": $datepicker-item-hover-color,
    "datepicker-item-hover-background-color": $datepicker-item-hover-background-color,
    "datepicker-item-selected-color": $datepicker-item-selected-color,
    "datepicker-item-selected-background-color": $datepicker-item-selected-background-color,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("datepicker", $-css-vars-map);

.datepicker {
    font-size: 0.875rem;
    .dropdown,
    .dropdown-trigger {
        width: 100%;
        .input[readonly] {
            box-shadow: var(--input-shadow);
            cursor: pointer;
            &:focus,
            &.is-focused,
            &:active,
            &.is-active {
                box-shadow: var(--input-focus-box-shadow-size) var(--input-focus-box-shadow-color)
            }
        }
    }
    // unset opacity when dropdow is disabled
    .dropdown {
        &.is-disabled {
            opacity: 1;
        }
    }
    .dropdown-content {
        background-color: var(--datepicker-background-color);
        border-radius: var(--datepicker-radius);
        box-shadow: var(--datepicker-shadow);
    }
    .dropdown-item {
        font-size: inherit;
    }
    .datepicker-header {
        padding-bottom: 0.875rem;
        border-bottom: 1px solid var(--grey-lighter);
        margin-bottom: 0.875rem;
    }
    .datepicker-footer {
        padding-top: 0.875rem;
        border-top: 1px solid var(--grey-lighter);
        margin-top: 0.875rem;
    }
    .datepicker-table {
        display: table;
        margin: 0 auto;
        .datepicker-cell {
            display: table-cell;
            padding: 0.5rem 0.75rem;
            border-radius: var(--radius);
            text-align: center;
            vertical-align: middle;
        }
        .datepicker-header {
            display: table-header-group;
            .datepicker-cell {
                color: var(--datepicker-header-color);
                font-weight: var(--weight-semibold);
            }
        }
        .datepicker-body {
            display: table-row-group;
            .datepicker-row {
                display: table-row;
            }
            .datepicker-months {
                display: inline-flex;
                width: 17rem;
                flex-direction: row;
                flex-wrap: wrap;
                .datepicker-cell {
                    display: flex;
                    width: math.div(100, 3) * 1%;
                    height: 2.5rem;
                    align-items: center;
                    justify-content: center;
                }
            }
            .datepicker-cell {
                &.is-unselectable {
                    color: var(--datepicker-item-disabled-color);
                }
                &.is-today {
                    --datepicker-today-border-color: #{bulma-utilities.bulmaVarOpacity(primary, 0.5)};
                    border: var(--datepicker-today-border) var(--datepicker-today-border-color);
                }
                &.is-selectable {
                    color: var(--datepicker-item-color);
                    &:hover:not(.is-selected),
                    &:focus:not(.is-selected) {
                        background-color: var(--datepicker-item-hover-background-color);
                        color: var(--datepicker-item-hover-color);
                        cursor: pointer;
                    }
                    &.is-within-hovered-range {
                        &.is-first-hovered {
                            background-color: var(--grey);
                            color: var(--grey-lighter);
                            @include bulma-utilities.ltr-border-x("radius", 0);
                        }
                        &.is-within-hovered {
                            background-color: var(--datepicker-item-hover-background-color);
                            border-radius: 0;
                            color: var(--datepicker-item-hover-color);
                        }
                        &.is-last-hovered {
                            background-color: var(--grey);
                            color: var(--grey-lighter);
                            @include bulma-utilities.ltr-border-x("radius", 0, false);
                        }
                    }
                }
                &.is-selected {
                    background-color: var(--datepicker-item-selected-background-color);
                    color: var(--datepicker-item-selected-color);
                    &.is-first-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        color: var(--datepicker-item-selected-color);
                        @include bulma-utilities.ltr-border-x("radius", 0);
                    }
                    &.is-within-selected {
                        --datepicker-item-selected-background-color: #{bulma-utilities.bulmaVarOpacity(primary, 0.5)};
                        background-color: var(--datepicker-item-selected-background-color);
                        border-radius: 0;
                    }
                    &.is-last-selected {
                        background-color: var(--datepicker-item-selected-background-color);
                        color: var(--datepicker-item-selected-color);
                        @include bulma-utilities.ltr-border-x("radius", 0, false);
                    }
                }
                &.is-nearby:not(.is-selected) {
                    color: var(--grey-light);
                }
                &.is-week-number {
                    cursor: default;
                }
            }
            &.has-events {
                .datepicker-cell {
                    padding: 0.3rem 0.75rem 0.75rem;
                    &.has-event {
                        position: relative;
                        .events {
                            position: absolute;
                            bottom: .425rem;
                            left: 0;
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            padding: 0 .35rem;
                            .event {
                                @each $name, $pair in $datepicker-colors {
                                    $color: list.nth($pair, 1);
                                    &.is-#{$name} {
                                        background-color: var(--#{$name});
                                    }
                                }
                            }
                        }
                        &.dots .event {
                            width: .35em;
                            height: .35em;
                            margin: 0 .1em;
                            border-radius: 50%;
                        }
                        &.bars .event {
                            width: 100%;
                            height: .25em;
                        }
                    }
                    &.is-selected {
                        overflow: hidden;
                        .events .event {
                            // Currently datepicker only uses primary coloring
                            // Ensure indicator is visible when selected
                            &.is-primary {
                                --datepicker-background-color-selected: #{bulma-utilities.bulmaVarLighten(primary, 15%)};
                                background-color: var(--datepicker-background-color-selected);
                            }
                        }
                    }
                }
            }
        }
    }
    @include bulma-utilities.control-sizes;
    @include bulma-utilities.desktop {
        .footer-horizontal-timepicker {
            display: flex;
            padding-left: 10px;
            border:none;
            @include bulma-utilities.ltr-property("margin", 0.5em, false);
        }
        .dropdown-horizonal-timepicker {
            display: flex;
        }
        .content-horizonal-timepicker {
            border-right: 1px solid #dbdbdb;
        }
    }
}
