@use "../../../bulma/sass/utilities" as bulma-utilities;

$floating-in-height: 3.25em !default;
$field-label-font-size: var(--size-normal) !default;

// Map Local variables
$-css-vars-map: (
    "floating-in-height": $floating-in-height,
    "field-label-font-size": $field-label-font-size,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("field", $-css-vars-map);

.field {
    &.is-grouped {
        .field {
            flex-shrink: 0;
            &:not(:last-child) {
                @include bulma-utilities.logical-x(margin, .75rem, $right: true);
            }
            &.is-expanded {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
    }
    // Nested control addons (for Autocomplete and Datepicker)
    &.has-addons .control {
        &:first-child .control {
            :is(.button, .input, .select select) {
                @include bulma-utilities.logical-border-radius(left, var(--input-radius));
            }
        }
        &:last-child .control {
            :is(.button, .input, .select select) {
                @include bulma-utilities.logical-border-radius(right, var(--input-radius));
            }
        }
        .control {
            :is(.button, .input, .select select) {
                border-radius: 0
            }
        }
    }
    // Fix for number input with addons
    &.has-addons {
        .b-numberinput {
            &:not(:first-child) {
                .control:first-child {
                    :is(.button, .input, .select select) {
                        @include bulma-utilities.logical-border-radius(left, 0);
                    }
                }
            }
            &:not(:last-child) {
                .control:last-child {
                    :is(.button, .input, .select select) {
                        @include bulma-utilities.logical-border-radius(right, 0);
                    }
                }
            }
        }
        &.b-numberinput {
            .control {
                @include bulma-utilities.logical-x(margin, unset, $right: true);
            }
        }
    }
}

.field {
    &:is(.is-floating-label, .is-floating-in-label) {
        position: relative;

        .label {
            position: absolute;
            z-index: 5;
			@include bulma-utilities.logical-x(inset, 1em, $right: false);
            overflow: hidden;
            max-width: calc(100% - 2em);
            background-color: transparent;
            font-size: calc(var(--field-label-font-size) * 0.75);
            text-overflow: ellipsis;
            white-space: nowrap;

            @include bulma-utilities.control-sizes(field-label-font-size);
        }
        .taginput .counter {
            float: none;
            text-align: end;
        }

        &.has-addons {
            > .label {
                + .control {
                    :is(.button, .input, .select select) {
                        @include bulma-utilities.logical-border-radius(left, var(--input-radius));
                    }
                }
            }
        }
    }

    &.is-floating-label {
        .label {
            top: -0.775em;
            @include bulma-utilities.logical-x(padding, 0.125em);
            &::before {
                position: absolute;
                z-index: -1;
                top: 0.775em;
				@include bulma-utilities.logical-x(inset, 0);
                display: block;
                height: 0.375em;
                background-color: var(--input-background-color);
                content: "";
            }
        }
        :is(.input, .textarea, .select select) {
            &:focus {
                box-shadow: none;
            }
        }
        .taginput .taginput-container {
            @include bulma-utilities.logical-y(padding, 0.475em, $bottom: false);
            &.is-focused {
                box-shadow: none;
            }
        }
    }
    &.is-floating-in-label {
        --field-floating-indent: calc(var(--floating-in-height) * 0.5 - (var(--size-large) * 0.75) * 0.5);

        > .label {
            top: 0.25em;

            + .control {
                &:is(.datepicker, .timepicker) {
                    .input {
                        height: var(--floating-in-height);
						@include bulma-utilities.logical-y(padding, var(--field-floating-indent) 1px);
                    }
                }
                &:not(.datepicker, .timepicker, .taginput) {
                    :is(.input, .textarea, select) {
                        height: var(--floating-in-height);
						@include bulma-utilities.logical-y(padding, var(--field-floating-indent) 1px);
                    }
                    .select:not([multiple]) {
                        height: var(--floating-in-height);
                        &.is-loading {
                            &::after {
                                @include bulma-utilities.logical-y(margin, var(--field-floating-indent), $bottom: false);
                            }
                        }
                        &::after {
                            @include bulma-utilities.logical-y(margin, 1px, $bottom: false);
                        }
                    }
                }
                &.taginput {
                    .taginput-container {
                        // 0.275em - 1px _taginput.scss
                        @include bulma-utilities.logical-y(padding, calc(var(--field-floating-indent) + (0.275em - 1px)), $bottom: false);
                    }
                }
                &:not(.taginput) {
                    :is(.is-left, .is-start).field,
                    :is(.is-right, .is-end).icon {
                        height: var(--floating-in-height);
                    }
                    :is(.is-left, .is-start).icon {
                        @include bulma-utilities.logical-y(padding, var(--field-floating-indent), $bottom: false);
                    }
                }
                &.is-loading::after {
                    @include bulma-utilities.logical-y(margin, var(--field-floating-indent), $bottom: false);
                }
            }

            // With addons or grouped
            + .field-body {
                > .is-grouped, > .has-addons {
                    .control {
                        :is(.input, .textarea, select) {
							@include bulma-utilities.logical-y(padding, var(--field-floating-indent) 1px);
                        }
                        :is(.input, .textarea, select, .button) {
                            height: var(--floating-in-height);
                        }
                    }
                }
            }
        }

        &.has-numberinput {
            .b-numberinput {
                .control {
                    :is(.input, .button) {
                        height: var(--floating-in-height);
                    }
                }
            }
        }
    }
    &:is(.is-floating-label, .is-floating-in-label) {
        &.has-numberinput {
            .label {
                @include bulma-utilities.logical-x(margin, calc(var(--size-normal) * 3), $right: false);
            }
            &.has-numberinput-is-small {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-small) * 3), $right: false);
                }
            }
            &.has-numberinput-is-medium {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-medium) * 3), $right: false);
                }
            }
            &.has-numberinput-is-large {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-large) * 3), $right: false);
                }
            }
        }
        &.has-numberinput-compact {
            .label {
                @include bulma-utilities.logical-x(margin, calc(var(--size-normal) * 2.25), $right: false);
            }
            &.has-numberinput-is-small {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-small) * 2.25), $right: false);
                }
            }
            &.has-numberinput-is-medium {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-medium) * 2.25), $right: false);
                }
            }
            &.has-numberinput-is-large {
                .label {
                    @include bulma-utilities.logical-x(margin, calc(var(--size-large) * 2.25), $right: false);
                }
            }
        }
    }
    &:is(.is-grouped-right, .has-addons-right) {
        &.is-floating-in-label {
            .label {
                position: relative;
				@include bulma-utilities.logical-x(inset, calc(3.25em + 2em), $right: false);
            }
        }
        &.is-floating-label {
            .label {
                position: relative;
				@include bulma-utilities.logical-x(inset, calc(3.25em + 2em), $right: false);
            }
        }
    }
}

.control {
    .help.counter {
        @include bulma-utilities.logical-x(margin, 0.5em, $right: false);
        float: right;
    }
    .icon {
        &.is-clickable {
            cursor: pointer;
            pointer-events: auto;
        }
    }
    // fix Bulma 0.8.2
    &.is-loading::after {
        top: calc(50% - (1em * 0.5));
		@include bulma-utilities.logical-x(inset, calc((2.5em * 0.5) - .5em), $right: true);
    }
}
