@use "sass:list";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/elements/notification" as bulma-notification;

$notices-shadow-color: rgba(var(--scheme-invert-rgb), 0.12) !default;
$notices-shadow-color-bis: rgba(var(--scheme-invert-rgb), 0.04) !default;
$notices-box-shadow: 0 1px 4px $notices-shadow-color, 0 0 6px $notices-shadow-color-bis !default;

$toast-border-radius: 2em !default;
$toast-opacity: 0.92 !default;
$toast-box-shadow: $notices-box-shadow !default;

$snackbar-background-color: var(--dark) !default; // dark is registered as var hence has hsl map
$snackbar-color: var(--dark-invert) !default;
$snackbar-border-radius: var(--radius) !default;
$snackbar-button-text-transform: uppercase !default;
$snackbar-box-shadow: $notices-box-shadow !default;

$snackbar-colors: bulma-notification.$notification-colors !default;

// Map Local variables
$-css-vars-map: (
    "notices-box-shadow": $notices-box-shadow,
    "toast-border-radius": $toast-border-radius,
    "toast-opacity": $toast-opacity,
    "toast-box-shadow": $toast-box-shadow,
    "snackbar-background-color": $snackbar-background-color,
    "snackbar-color": $snackbar-color,
    "snackbar-border-radius": $snackbar-border-radius,
    "snackbar-button-text-transform": $snackbar-button-text-transform,
    "snackbar-box-shadow": $snackbar-box-shadow,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("notices", $-css-vars-map);

.notices {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    padding: 2em;
    pointer-events: none;
    .toast {
        display: inline-flex;
        padding: 0.75em 1.5em;
        margin: 0.5em 0;
        animation-duration: calc(var(--speed) * 2);
        border-radius: var(--toast-border-radius);
        box-shadow: var(--toast-box-shadow);
        opacity: var(--toast-opacity);
        pointer-events: auto;
        text-align: center;
        @each $name, $pair in $snackbar-colors {
            $color: list.nth($pair, 1);
            $color-invert: list.nth($pair, 2);
            &.is-#{$name} {
                background: var(--#{$name});
                color: var(--#{$name}-invert);
            }
        }
    }
    .snackbar {
        --snackbar-button-background-color: #{bulma-utilities.bulmaVarDarken(dark, 5%)};
        display: inline-flex;
        min-height: 3em;
        align-items: center;
        justify-content: space-around;
        margin: 0.5em 0;
        animation-duration: calc(var(--speed) * 2);
        background: var(--snackbar-background-color);
        border-radius: var(--snackbar-border-radius);
        box-shadow: var(--snackbar-box-shadow);
        color: var(--snackbar-color);
        pointer-events: auto;
        .text {
            padding: 0.5em 1em;
        }
        .action {
            @include bulma-utilities.ltr-property("margin", auto, false);
            padding: 0.5em;
            padding-left: 0;
            .button {
                border: transparent;
                background: var(--snackbar-background-color);
                font-weight: var(--weight-semibold);
                text-transform: var(--snackbar-button-text-transform);
            }
            .button:hover {
                // TODO: revisit
                background: var(--snackbar-button-background-color);
            }
            .button:active {
                background: var(--snackbar-button-background-color);
            }
            @each $name, $pair in $snackbar-colors {
                $color: list.nth($pair, 1);
                &.is-#{$name} {
                    .button {
                        color: var(--#{$name});
                    }
                }
            }
        }
        .action.is-cancel {
            @include bulma-utilities.ltr-property("padding", 0);
        }
        @include bulma-utilities.mobile {
            width: 100%;
            margin: 0;
            border-radius: 0;
        }
        @include bulma-utilities.tablet {
            overflow: hidden;
            min-width: 350px;
            max-width: 600px;
        }
    }
    .notification {
        max-width: 600px;
        pointer-events: auto;
    }

    .toast,
    .snackbar,
    .notification {
        // Modifiers
        &.is-top, &.is-bottom {
            align-self: center;
        }
        &.is-top-right, &.is-bottom-right {
            align-self: flex-end;
        }
        &.is-top-left, &.is-bottom-left {
            align-self: flex-start;
        }
        &.is-toast {
            opacity: var(--toast-opacity);
        }
    }

    // Modifiers
    &.is-top {
        flex-direction: column;
    }
    &.is-bottom {
        flex-direction: column-reverse;

        // Since the columns are reversed, we need to reverse the margin logic from
        // :not(:last-child) to :not(:first-child)
        .notification {
            margin-bottom: 0;
            &:not(:first-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
    &.has-custom-container {
        position: absolute;
    }

    @include bulma-utilities.mobile {
        position: fixed !important;
        padding: 0;
    }
}
