@use "../../../bulma/sass/utilities" as bulma-utilities;

.notification {
    .progress-wrapper {
        position: absolute;
        bottom: 0;
		@include bulma-utilities.logical-x(inset, 0, $right: false);
        width: 100%;
    }
}
