@use "sass:list";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/form/shared" as bulma-form;
@use "../../../bulma/sass/utilities/mixins-scss" as bulma-mixins-scss;

$radio-active-background-color: var(--primary) !default;
$radio-size: 1.25em !default;

$radio-colors: bulma-form.$form-colors !default;

// Map Local variables
$-css-vars-map: (
    "radio-active-background-color": $radio-active-background-color,
    "radio-size": $radio-size,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("b-radio", $-css-vars-map);

.b-radio {
    &.radio {
        @extend %unselectable;
        display: inline-flex;
        align-items: center;
        outline: none;
        &:not(.button) {
            @include bulma-utilities.logical-x(margin, 0.5em, $right: true);
            & + .radio:last-child {
                @include bulma-utilities.logical-x(margin, 0, $right: true);
            }
        }
        // reset Bulma
        & + .radio {
            @include bulma-utilities.logical-x(margin, 0, $right: false);
        }
        input[type=radio] {
            position: absolute;
            z-index: -1;
            @include bulma-utilities.logical-x(inset, 0, $right: false);
            opacity: 0;
            outline: none;
            + .check {
                position: relative;
                display: flex;
                width: var(--radio-size);
                height: var(--radio-size);
                flex-shrink: 0;
                border: 2px solid var(--grey);
                border-radius: 50%;
                cursor: pointer;
                transition: background calc(var(--speed) * 2) var(--easing);
                &::before {
                    position: absolute;
                    bottom: 50%;
                    @include bulma-utilities.logical-x(inset, 50%, $right: false);
                    display: flex;
                    width: var(--radio-size);
                    height: var(--radio-size);
                    border-radius: 50%;
                    @include bulma-utilities.logical-y(margin, calc(-0.5 * var(--radio-size)));
                    @include bulma-utilities.logical-x(margin, calc(-0.5 * var(--radio-size)), $right: false);
                    background-color: var(--radio-active-background-color);
                    content: "";
                    transform: scale(0);
                    transition: transform calc(var(--speed) * 2) var(--easing);
                }
                @each $name, $pair in $radio-colors {
                    &.is-#{$name}:before {
                        background: var(--#{$name});
                    }
                }
            }
            &:checked + .check {
                border-color: var(--radio-active-background-color);
                @each $name, $pair in $radio-colors {
                    &.is-#{$name} {
                        border-color: var(--#{$name});
                    }
                }
                &::before {
                    transform: scale(.5);
                }
            }
            &:focus {
                + .check {
                    box-shadow: 0 0 0.5em var(--grey-light);
                }
                &:checked + .check {
                    box-shadow: 0 0 0.5em #{bulma-mixins-scss.set-color-alpha(var(--scheme-invert), 0.1)};

                    @each $name, $pair in $radio-colors {
                        &.is-#{$name} {
                            box-shadow: 0 0 0.5em #{bulma-mixins-scss.set-color-alpha(var(--#{$name}), 0.8)};
                        }
                    }
                }
            }
        }
        .control-label {
            @include bulma-utilities.logical-x(padding, var(--control-padding-horizontal), $right: false);
        }
        &.button {
            display: flex;

            &.is-selected {
                z-index: 1;
            }
        }
        &[disabled] {
            opacity: 0.5;
        }
        &:hover {
            input[type=radio]:not(:disabled) + .check {
                border-color: var(--radio-active-background-color);
                @each $name, $pair in $radio-colors {
                    &.is-#{$name} {
                        border-color: var(--#{$name});
                    }
                }
            }
        }
        @include bulma-utilities.control-sizes;
    }
}
