@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/utilities/mixins-scss" as bulma-mixins-scss;

$rate-color: var(--grey-lighter) !default;
$rate-color-active: bulma-mixins-scss.darken-color(var(--warning), 5) !default;
$rate-spaced: 0.25rem !default;
$rate-text-spaced: 0.35rem !default;
$rate-text-font-size: var(--size-normal) !default;

// Map Local variables
$-css-vars-map: (
    "rate-color": $rate-color,
    "rate-color-active": $rate-color-active,
    "rate-spaced": $rate-spaced,
    "rate-text-spaced": $rate-text-spaced,
    "rate-text-font-size": $rate-text-font-size,
);

// Register & Export CSS Variabless
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("rate", $-css-vars-map);

.rate {
    display: flex;
    align-items: center;
    &:not(:last-child) {
		@include bulma-utilities.logical-y(margin, calc(var(--block-spacing) * 0.5), $bottom: true);
    }
    &.is-spaced .rate-item:not(:last-child) {
        @include bulma-utilities.logical-x(margin, var(--rate-spaced), $right: true);
    }
    &.is-disabled .rate-item {
        cursor: initial;
        &:hover {
            transform: none;
        }
    }
    &.is-rtl {
        .rate-item {
            order: 1;
        }
        .rate-text {
            @include bulma-utilities.logical-x(margin, 0 var(--rate-text-spaced));
        }
    }
    .rate-item {
        position: relative;
        display: inline-flex;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
		&:is(.set-on .icon, .set-half .is-half) {
            color: var(--rate-color-active);
        }
        &.set-half .is-half {
            position: absolute;
            top: 0;
            @include bulma-utilities.logical-x(inset, 0, $right: false);
            overflow: hidden;
        }
    }
    .icon {
        width: inherit;
        color: var(--rate-color);
        line-height: 1;
        pointer-events: none;
    }
    .is-half > i {
        position: absolute;
        @include bulma-utilities.logical-x(inset, 0, $right: false);
    }
    .rate-text {
        @include bulma-utilities.logical-x(margin, var(--rate-text-spaced), $right: false);
        font-size: calc(var(--rate-text-font-size) / 1.25);
        @include bulma-utilities.control-sizes(rate-text-font-size);
    }
}
