@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/components/tabs" as bulma-tabs;

$tabs-focused-outline: none !default;
$tabs-items-focused-outline: none !default;
$tabs-link-focus-active-border-bottom-color: bulma-tabs.$tabs-link-active-border-bottom-color !default;
$tabs-link-focus-border-bottom-color: bulma-tabs.$tabs-link-hover-border-bottom-color !default;
$tabs-boxed-link-focus-active-background-color: bulma-tabs.$tabs-boxed-link-active-background-color !default;
$tabs-boxed-link-focus-background-color: bulma-tabs.$tabs-boxed-link-hover-background-color !default;
$tabs-boxed-link-focus-active-border-bottom-color: bulma-tabs.$tabs-boxed-link-active-border-bottom-color !default;
$tabs-boxed-link-focus-border-bottom-color: bulma-tabs.$tabs-boxed-link-hover-border-bottom-color !default;
$tabs-toggle-link-focus-active-background-color: bulma-tabs.$tabs-toggle-link-active-background-color !default;
$tabs-toggle-link-focus-background-color: bulma-tabs.$tabs-toggle-link-hover-background-color !default;
$tabs-toggle-link-focus-active-border-color: bulma-tabs.$tabs-toggle-link-active-border-color !default;
$tabs-toggle-link-focus-border-color: bulma-tabs.$tabs-toggle-link-hover-border-color !default;

// Map Local variables
$-css-vars-map: (
    "tabs-focused-outline": $tabs-focused-outline,
    "tabs-items-focused-outline": $tabs-items-focused-outline,
    "tabs-link-focus-active-border-bottom-color": $tabs-link-focus-active-border-bottom-color,
    "tabs-link-focus-border-bottom-color": $tabs-link-focus-border-bottom-color,
    "tabs-boxed-link-focus-active-background-color": $tabs-boxed-link-focus-active-background-color,
    "tabs-boxed-link-focus-background-color": $tabs-boxed-link-focus-background-color,
    "tabs-boxed-link-focus-active-border-bottom-color": $tabs-boxed-link-focus-active-border-bottom-color,
    "tabs-boxed-link-focus-border-bottom-color": $tabs-boxed-link-focus-border-bottom-color,
    "tabs-toggle-link-focus-active-background-color": $tabs-toggle-link-focus-active-background-color,
    "tabs-toggle-link-focus-background-color": $tabs-toggle-link-focus-background-color,
    "tabs-toggle-link-focus-active-border-color": $tabs-toggle-link-focus-active-border-color,
    "tabs-toggle-link-focus-border-color": $tabs-toggle-link-focus-border-color,
);

// Register & Export CSS Variables
@include bulma-utilities.exportCSSVars($-css-vars-map);
@include bulma-utilities.registerComponentCSSVars("b-tabs", $-css-vars-map);

.b-tabs {
    .tabs {
        flex-shrink: 0;
        margin-bottom: 0;
        li {
            a:focus {
                border-bottom-color: var(--tabs-link-focus-active-border-bottom-color);
                outline: var(--tabs-focused-outline);
            }
            &:not(.is-active) {
                a:focus {
                    border-bottom-color: var(--tabs-link-focus-border-bottom-color);
                }
            }

            &.is-disabled {
                cursor: not-allowed;
                opacity: 0.5;
                pointer-events: none;
            }
        }

        // Styles
        &.is-boxed {
            li {
                a:focus {
                    border-bottom-color: var(--tabs-boxed-link-focus-active-border-bottom-color);
                    background-color: var(--tabs-boxed-link-focus-active-background-color);
                }
                &:not(.is-active) {
                    a:focus {
                        border-bottom-color: var(--tabs-boxed-link-focus-border-bottom-color);
                        background-color: var(--tabs-boxed-link-focus-background-color);
                    }
                }
            }
        }
        &.is-toggle {
            li {
                a:focus {
                    border-color: var(--tabs-toggle-link-focus-active-border-color);
                    background-color: var(--tabs-toggle-link-focus-active-background-color);
                }
                &:not(.is-active) {
                    a:focus {
                        border-color: var(--tabs-toggle-link-focus-border-color);
                        background-color: var(--tabs-toggle-link-focus-background-color);
                    }
                }
            }
        }
    }
    .tab-content {
        position: relative;
        display: flex;
        overflow: visible;
        flex-direction: column;
        padding: 1rem;
        .tab-item {
            flex-basis: auto;
            flex-shrink: 0;

            &:focus {
                outline: var(--tabs-items-focused-outline);
            }
        }
        &.is-transitioning {
            overflow: hidden;
        }
    }
    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    &.is-fullwidth {
        width: 100%;
    }
    &.is-vertical {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > .tabs {
            ul {
                flex-direction: column;
                border-bottom-color: transparent;

                li {
                    width: 100%;

                    a {
                        justify-content: left;
                    }
                }
            }

            &.is-boxed {
                li {
                    a {
                        border-right-color: var(--tabs-border-bottom-color) !important;
                        border-bottom-color: transparent !important;
                        @include bulma-utilities.ltr-border-x("radius", var(--tabs-boxed-link-radius), false);
                    }

                    &.is-active {
                        a {
                            border-right-color: transparent !important;
                            border-bottom-color: var(--tabs-border-bottom-color) !important;
                        }
                    }
                }
            }
            &.is-toggle {
                li {
                    + li {
                        margin-left: 0;
                    }
                    &:first-child {
                        a {
                            @include bulma-utilities.ltr-border-y("radius", var(--tabs-toggle-link-radius));
                        }
                    }
                    &:last-child {
                        a {
                            @include bulma-utilities.ltr-border-y("radius", var(--tabs-toggle-link-radius), false);
                        }
                    }
                }
            }
            &.is-fullwidth {
                li {
                    a {
                        height: 100%;
                    }
                }
            }
        }
        > .tab-content {
            flex-grow: 1;
        }

        &.is-right {
            flex-direction: row-reverse;

            > .tabs {
                ul {
                    a {
                        flex-direction: row-reverse;

                        .icon:first-child {
                            margin-right: 0;
                            margin-left: 0.5em
                        }
                    }
                }

                &.is-boxed {
                    li {
                        a {
                            border-right-color: transparent !important;
                            border-bottom-color: transparent !important;
                            border-left-color: var(--tabs-border-bottom-color) !important;
                            @include bulma-utilities.ltr-border-x("radius", var(--tabs-boxed-link-radius));
                        }

                        &.is-active {
                            a {
                                border-right-color: var(--tabs-border-bottom-color) !important;
                                border-bottom-color: var(--tabs-border-bottom-color) !important;
                                border-left-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.is-multiline {
        > .tabs {
            ul {
                flex-shrink: 1;
                flex-wrap: wrap;
            }
        }
    }
}
