@use "sass:list";

@use "../../../bulma/sass/utilities" as bulma-utilities;
@use "../../../bulma/sass/form/file" as bulma-file;

.upload {
    position: relative;
    display: inline-flex;
    input[type="file"] {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        outline: none;
    }
    .upload-draggable {
        padding: 0.25em;
        border: 1px dashed var(--grey-light);
        border-radius: var(--radius-large);
        cursor: pointer;
        &.is-disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
        &.is-loading {
            position: relative;
            opacity: 0.5;
            pointer-events: none;
            &::after {
                @extend %loader;
                top: 0;
                left: calc(50% - 1.5em);
                width: 3em;
                height: 3em;
                border-width: 0.25em;
            }
        }
        &:hover,
        &.is-hovered {
            @each $name, $pair in bulma-file.$file-colors {
                $color: list.nth($pair, 1);
                &.is-#{$name} {
                    border-color: var(--#{$name});
                    background: var(--#{$name}-light);
                }
            }
        }
        &.is-expanded {
            width: 100%;
        }
    }
    &.is-expanded {
        width: 100%;
    }
    &.is-rounded {
        border-radius: var(--radius-rounded);

        .file-name {
            @include bulma-utilities.ltr-border-x("radius", var(--radius-rounded));
        }
    }
}
// temporary IE 11 hack !!!
@include bulma-utilities.ie11 {
    .upload {
        input[type="file"] {
            z-index: auto;
        }
        .upload-draggable + input[type="file"] {
            z-index: -1;
        }
    }
}
