@use "sass:list"

@use "../utilities/derived-variables" as vars
@use "../utilities"
@use "../utilities/mixins-scss"

$colors-helpers: vars.$colors !default
$shades-helpers: vars.$shades !default

// Colors
@each $name, $pair in $colors-helpers
  $color: list.nth($pair, 1)
  .has-text-#{$name}
    color: var(--#{$name}) !important
  a.has-text-#{$name}
    &:is(:hover, :focus)
      color: #{mixins-scss.darken-color(var(--#{$name}), 10)} !important
  .has-background-#{$name}
    background-color: var(--#{$name}) !important
  @if list.length($pair) >= 4
    $color-light: list.nth($pair, 3)
    $color-dark: list.nth($pair, 4)
    // Light
    .has-text-#{$name}-light
      color: var(--#{$name}-light) !important
    a.has-text-#{$name}-light
      &:is(:hover, :focus)
        color: #{mixins-scss.darken-color(var(--#{$name}-light), 10)} !important
    .has-background-#{$name}-light
      background-color: var(--#{$name}-light) !important
    // Dark
    .has-text-#{$name}-dark
      color: var(--#{$name}-dark) !important
    a.has-text-#{$name}-dark
      &:is(:hover, :focus)
        color: #{mixins-scss.lighten-color(var(--#{$name}-dark), 10)} !important
    .has-background-#{$name}-dark
      background-color: var(--#{$name}-dark) !important

// Shades
@each $name, $shade in $shades-helpers
  .has-text-#{$name}
    color: var(--#{$name}) !important
  .has-background-#{$name}
    background-color: var(--#{$name}) !important
