@use "utilities/derived-variables" as vars
@use "utilities"

+utilities.typography-size

+utilities.mobile
  +utilities.typography-size('mobile')

+utilities.tablet
  +utilities.typography-size('tablet')

+utilities.touch
  +utilities.typography-size('touch')

+utilities.desktop
  +utilities.typography-size('desktop')

+utilities.widescreen
  +utilities.typography-size('widescreen')

+utilities.fullhd
  +utilities.typography-size('fullhd')

$alignments: ('centered': 'center', 'justified': 'justify', 'left': 'left', 'right': 'right')

@each $alignment, $text-align in $alignments
  .has-text-#{$alignment}
    text-align: #{$text-align} !important

@each $alignment, $text-align in $alignments
  +utilities.mobile
    .has-text-#{$alignment}-mobile
      text-align: #{$text-align} !important
  +utilities.tablet
    .has-text-#{$alignment}-tablet
      text-align: #{$text-align} !important
  +utilities.tablet-only
    .has-text-#{$alignment}-tablet-only
      text-align: #{$text-align} !important
  +utilities.touch
    .has-text-#{$alignment}-touch
      text-align: #{$text-align} !important
  +utilities.desktop
    .has-text-#{$alignment}-desktop
      text-align: #{$text-align} !important
  +utilities.desktop-only
    .has-text-#{$alignment}-desktop-only
      text-align: #{$text-align} !important
  +utilities.widescreen
    .has-text-#{$alignment}-widescreen
      text-align: #{$text-align} !important
  +utilities.widescreen-only
    .has-text-#{$alignment}-widescreen-only
      text-align: #{$text-align} !important
  +utilities.fullhd
    .has-text-#{$alignment}-fullhd
      text-align: #{$text-align} !important

.is-capitalized
  text-transform: capitalize !important

.is-lowercase
  text-transform: lowercase !important

.is-uppercase
  text-transform: uppercase !important

.is-italic
  font-style: italic !important
  
.is-underlined
  text-decoration: underline !important

.has-text-weight-light
  font-weight: var(--weight-light, #{vars.$weight-light}) !important

.has-text-weight-normal
  font-weight: var(--weight-normal, #{vars.$weight-normal}) !important

.has-text-weight-medium
  font-weight: var(--weight-medium, #{vars.$weight-medium}) !important

.has-text-weight-semibold
  font-weight: var(--weight-semibold, #{vars.$weight-semibold}) !important

.has-text-weight-bold
  font-weight: var(--weight-bold, #{vars.$weight-bold}) !important

.is-family-primary
  font-family: var(--family-primary, #{vars.$family-primary}) !important

.is-family-secondary
  font-family: var(--family-secondary, #{vars.$family-secondary}) !important

.is-family-sans-serif
  font-family: var(--family-sans-serif, #{vars.$family-sans-serif}) !important

.is-family-monospace
  font-family: var(--family-monospace, #{vars.$family-monospace}) !important

.is-family-code
  font-family: var(--family-code, #{vars.$family-code}) !important
