
$progress-value-color: var(--scheme-main, #{$scheme-main}) !default;
$progress-value-size: var(--size-normal, #{$size-normal}) !default;

$css-vars-map: (
    'progress-value-color': ($progress-value-color),
    'progress-value-size': ($progress-value-size),
);

.progress, [class^="progress-"] {
    @include registerCSSVars($css-vars-map, $at-root)
}

@mixin progress-size() {
    &.is-small {
        + .progress-value, .progress-value {
            --progress-value-size: var(--size-small, #{$size-small});
        }
    }
    &.is-medium {
        + .progress-value, .progress-value {
            --progress-value-size: var(--size-medium, #{$size-medium});
        }
    }
    &.is-large {
        + .progress-value, .progress-value {
            --progress-value-size: var(--size-large, #{$size-large});
        }
    }
}

.progress-wrapper {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .progress-value {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: calc(var(--progress-value-size) / 1.5);
        line-height: var(--progress-value-size);
        font-weight: var(--weight-bold, #{$weight-bold});
        color: var(--progress-value-color);
        white-space: nowrap;
    }

    .progress, .progress-bar {
        margin-bottom: 0;

        @include progress-size();

        &::-webkit-progress-value {
            transition: width 0.5s ease;
        }

        &.is-more-than-half {
            +.progress-value {
                color: var(--progress-value-color);
            }

            @each $name, $pair in $progress-colors {
                $color: nth($pair, 1);
                $color-invert: nth($pair, 2);
                &.is-#{$name} {
                    + .progress-value {
                        color: var(--#{$name}-invert, #{$color-invert});
                    }
                }
            }
        }
    }

    &.is-not-native {
        @extend .progress;
        white-space: nowrap;
        background-color: var(--progress-bar-background-color);
        border-radius: var(--progress-border-radius);

        .progress-bar {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            background-color: var(--progress-value-background-color);

            .progress-value {
                color: var(--progress-value-color);
            }

            @each $name, $pair in $progress-colors {
                $color: nth($pair, 1);
                $color-invert: nth($pair, 2);
                &.is-#{$name} {
                    background-color: var(--#{$name}, #{$color});
                    .progress-value {
                        color: var(--#{$name}-invert, #{$color-invert});
                    }
                }
            }
        }
    }
}
