@use "sass:math"

@use "../utilities"

$tile-denominator: 12 !default
$tile-spacing: 0.75rem !default

// Map Local variables
$-css-vars-map: ('tile-spacing': $tile-spacing)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("tile", $-css-vars-map)
// --tile-spacing: #{$tile-spacing}

.tile
  align-items: stretch
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  min-height: min-content
  // Modifiers
  &.is-ancestor
    +utilities.logical-x(margin, calc(-1 * var(--tile-spacing)))
    +utilities.logical-y(margin, calc(-1 * var(--tile-spacing)), $bottom: false)
    &:last-child
      +utilities.logical-y(margin, calc(-1 * var(--tile-spacing)), $bottom: true)
    &:not(:last-child)
      +utilities.logical-y(margin, var(--tile-spacing), $bottom: true)
  &.is-child
    margin: 0 !important
  &.is-parent
    padding: var(--tile-spacing)
  &.is-vertical
    flex-direction: column
    & > .tile.is-child:not(:last-child)
      +utilities.logical-y(margin, 1.5rem !important, $bottom: true)
  // Responsiveness
  +utilities.tablet
    &:not(.is-child)
      display: flex
    @for $i from 1 through $tile-denominator
      &.is-#{$i}
        flex: none
        width: math.percentage(math.div($i, $tile-denominator))
