@use "shared" as form-shared
@use "../utilities"

%checkbox-radio
  cursor: pointer
  display: inline-block
  line-height: 1.25
  position: relative
  input
    cursor: pointer
  &:hover
    color: var(--input-hover-color)
  &[disabled],
  fieldset[disabled] &,
  input[disabled],
  &.is-disabled
    color: var(--input-disabled-color)
    cursor: not-allowed
  // Sizes
  +utilities.control-sizes

.checkbox
  @extend %checkbox-radio

.radio
  @extend %checkbox-radio
  & + .radio
    +utilities.logical-x(margin, 0.5em, $right: false)
