@use "sass:list"

@use "shared" as form-shared
@use "../utilities"

$file-border-color: var(--border) !default
$file-radius: var(--radius) !default

$file-cta-background-color: var(--scheme-main-ter) !default
$file-cta-color: var(--text-light) !default
$file-cta-hover-color: var(--text) !default
$file-cta-hover-background-color: var(--grey-lightest) !default
$file-cta-active-color: var(--text-strong) !default
$file-cta-active-background-color: var(--grey-lighter) !default

$file-name-border-color: var(--border) !default
$file-name-border-style: solid !default
$file-name-border-width: 1px 1px 1px 0 !default
$file-name-max-width: 16em !default

$file-icon-font-size: 14px !default

$file-colors: form-shared.$form-colors !default

// Map Local variables
$-css-vars-map: ('file-border-color': $file-border-color, 'file-radius': $file-radius, 'file-cta-background-color': $file-cta-background-color, 'file-cta-color': $file-cta-color, 'file-cta-hover-color': $file-cta-hover-color, 'file-cta-hover-background-color': $file-cta-hover-background-color, 'file-cta-active-color': $file-cta-active-color, 'file-cta-active-background-color': $file-cta-active-background-color, 'file-name-border-color': $file-name-border-color, 'file-name-border-style': $file-name-border-style, 'file-name-border-width': $file-name-border-width, 'file-name-max-width': $file-name-max-width, 'file-icon-font-size': $file-icon-font-size)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("file", $-css-vars-map)
// --file-border-color: #{$file-border-color}
// --file-radius: #{$file-radius}
// --file-cta-background-color: #{$file-cta-background-color}
// --file-cta-color: #{$file-cta-color}
// --file-cta-hover-color: #{$file-cta-hover-color}
// --file-cta-active-color: #{$file-cta-active-color}
// --file-name-border-color: #{$file-name-border-color}
// --file-name-border-style: #{$file-name-border-style}
// --file-name-border-width: #{$file-name-border-width}
// --file-name-max-width: #{$file-name-max-width}

.file
  @extend %unselectable
  align-items: stretch
  display: flex
  justify-content: flex-start
  position: relative
  // Colors
  @each $name, $pair in $file-colors
    $color: list.nth($pair, 1)
    $color-invert: list.nth($pair, 2)
    &.is-#{$name}
      .file-cta
        background-color: var(--#{$name})
        border-color: transparent
        color: var(--#{$name}-invert)
      &:hover,
      &.is-hovered
        .file-cta
          background-color: #{utilities.bulmaVarDarken($name, 2.5%)}
          border-color: transparent
          color: var(--#{$name}-invert)
      &:focus,
      &.is-focused
        .file-cta
          border-color: transparent
          box-shadow: 0 0 0.5em #{utilities.bulmaVarOpacity($name, 0.25)}
          color: var(--#{$name}-invert)
      &:active,
      &.is-active
        .file-cta
          background-color: #{utilities.bulmaVarDarken($name, 5%)}
          border-color: transparent
          color: var(--#{$name}-invert)
  // Sizes
  +utilities.control-sizes($has-normal: true)
  &.is-medium
    --file-icon-font-size: 21px
  &.is-large
    --file-icon-font-size: 28px
  // Modifiers
  &.has-name
    .file-cta
      +utilities.ltr-border-x("radius", 0)
    .file-name
      +utilities.ltr-border-x("radius", 0, false)
    &.is-empty
      .file-cta
        border-radius: var(--file-radius)
      .file-name
        display: none
  &.is-boxed
    .file-label
      flex-direction: column
    .file-cta
      flex-direction: column
      height: auto
      padding: 1em 3em
    .file-name
      border-width: 0 1px 1px
    .file-icon
      --file-icon-font-size: 21px
      height: 1.5em
      width: 1.5em
    &.is-small
      --file-icon-font-size: 14px
    &.is-medium
      --file-icon-font-size: 28px
    &.is-large
      --file-icon-font-size: 35px
    &.has-name
      .file-cta
        +utilities.ltr-border-y("radius", var(--file-radius))
        +utilities.ltr-border-y("radius", 0, false)
      .file-name
        +utilities.ltr-border-y("radius", 0)
        +utilities.ltr-border-y("radius", var(--file-radius), false)
        border-width: 0 1px 1px
  &.is-centered
    justify-content: center
  &.is-fullwidth
    .file-label
      width: 100%
    .file-name
      flex-grow: 1
      max-width: none
  &.is-right
    justify-content: flex-end
    .file-cta
      +utilities.ltr-border-x("radius", var(--file-radius))
      +utilities.ltr-border-x("radius", 0, false)
    .file-name
      +utilities.ltr-border-x("radius", 0)
      +utilities.ltr-border-x("radius", var(--file-radius), false)
      border-width: 1px 0 1px 1px
      order: -1

.file-label
  align-items: stretch
  display: flex
  cursor: pointer
  justify-content: flex-start
  overflow: hidden
  position: relative
  &:hover
    .file-cta
      background-color: var(--file-cta-hover-background-color)
      color: var(--file-cta-hover-color)
    .file-name
      border-color: var(--border-hover)
  &:active
    .file-cta
      background-color: var(--file-cta-active-background-color)
      color: var(--file-cta-active-color)
    .file-name
      border-color: var(--border-light)

.file-input
  height: 100%
  left: 0
  opacity: 0
  outline: none
  position: absolute
  top: 0
  width: 100%

.file-cta,
.file-name
  @extend %control
  border-color: var(--file-border-color)
  border-radius: var(--file-radius)
  font-size: 1em
  padding-inline: 1em
  white-space: nowrap

.file-cta
  background-color: var(--file-cta-background-color)
  color: var(--file-cta-color)

.file-name
  border-color: var(--file-name-border-color)
  border-style: var(--file-name-border-style)
  border-width: var(--file-name-border-width)
  display: block
  max-width: var(--file-name-max-width)
  overflow: hidden
  text-align: inherit
  text-overflow: ellipsis

.file-icon
  align-items: center
  display: flex
  height: 1em
  justify-content: center
  +utilities.ltr-property("margin", 0.5em)
  width: 1em
  .fa
    font-size: var(--file-icon-font-size)
