@use "sass:list"

@use "shared" as form-shared
@use "../utilities"

$textarea-padding: var(--control-padding-horizontal) !default
$textarea-max-height: 40em !default
$textarea-min-height: 8em !default

$textarea-colors: form-shared.$form-colors !default

%input-textarea
  @extend %input
  box-shadow: var(--input-shadow)
  max-width: 100%
  width: 100%
  &[readonly]
    box-shadow: none
  // Colors
  @each $name, $pair in $textarea-colors
    $color: list.nth($pair, 1)
    &.is-#{$name}
      --focus-box-shadow-color: #{utilities.bulmaVarOpacity($name, 0.25)}
      border-color: var(--#{$name})
      &:focus,
      &.is-focused,
      &:active,
      &.is-active
        box-shadow: var(--input-focus-box-shadow-size) var(--focus-box-shadow-color)
  // Sizes
  &.is-small
    border-radius: var(--control-radius-small)
  +utilities.control-sizes
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

.input
  @extend %input-textarea
  &.is-rounded
    border-radius: var(--radius-rounded)
    padding-inline: calc(var(--control-padding-horizontal) + 0.375em)
  &.is-static
    background-color: transparent
    border-color: transparent
    box-shadow: none
    padding-inline: 0

// Map Local variables
$-css-vars-map: ('textarea-padding': $textarea-padding, 'textarea-max-height': $textarea-max-height, 'textarea-min-height': $textarea-min-height)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("textarea", $-css-vars-map)
// --textarea-padding: #{$textarea-padding}
// --textarea-max-height: #{$textarea-max-height}
// --textarea-min-height: #{$textarea-min-height}

.textarea
  @extend %input-textarea
  display: block
  max-width: 100%
  min-width: 100%
  padding: var(--textarea-padding)
  resize: vertical
  &:not([rows])
    max-height: var(--textarea-max-height)
    min-height: var(--textarea-min-height)
  &[rows]
    height: initial
  // Modifiers
  &.has-fixed-size
    resize: none
