@use "../utilities/derived-variables" as vars
@use "../utilities"
@use "../utilities/mixins-scss"

$input-color: var(--text-strong) !default
$input-background-color: var(--scheme-main) !default
$input-border-color: var(--border) !default
$input-height: var(--control-height) !default
$input-shadow-color: mixins-scss.set-color-alpha(var(--scheme-invert), 0.05) !default
$input-shadow: inset 0 0.0625em 0.125em $input-shadow-color !default
$input-placeholder-color: var(--text-strong) !default
$input-placeholder-opacity: 0.3 !default

$input-hover-color: var(--text-strong) !default
$input-hover-border-color: var(--border-hover) !default

$input-focus-color: var(--text-strong) !default
$input-focus-border-color: var(--link) !default
$input-focus-box-shadow-size: 0 0 0 0.125em !default
$input-focus-box-shadow-color: mixins-scss.set-color-alpha(var(--scheme-invert), 0.25) !default

$input-disabled-color: var(--text-light) !default
$input-disabled-background-color: var(--background) !default
$input-disabled-border-color: var(--background) !default
$input-disabled-placeholder-color: var(--text-light) !default
$input-disabled-placeholder-opacity: 0.3 !default

$input-arrow-color: var(--link) !default

$input-icon-color: var(--border) !default
$input-icon-active-color: var(--text) !default

$input-radius: var(--radius) !default

$form-colors: vars.$colors !default

// Map Local variables
$-css-vars-map: ("input-color": $input-color, "input-background-color": $input-background-color, "input-border-color": $input-border-color, "input-height": $input-height, "input-shadow-color": $input-shadow-color, "input-shadow": $input-shadow, "input-placeholder-color": $input-placeholder-color, "input-placeholder-opacity": $input-placeholder-opacity, "input-hover-color": $input-hover-color, "input-hover-border-color": $input-hover-border-color, "input-focus-color": $input-focus-color, "input-focus-border-color": $input-focus-border-color, "input-focus-box-shadow-size": $input-focus-box-shadow-size, "input-focus-box-shadow-color": $input-focus-box-shadow-color, "input-disabled-color": $input-disabled-color, "input-disabled-background-color": $input-disabled-background-color, "input-disabled-border-color": $input-disabled-border-color, "input-disabled-placeholder-color": $input-disabled-placeholder-color, "input-disabled-placeholder-opacity": $input-disabled-placeholder-opacity, "input-arrow-color": $input-arrow-color, "input-icon-color": $input-icon-color, "input-icon-active-color": $input-icon-active-color, "input-radius": $input-radius)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("input", $-css-vars-map)
// --input-color: #{$input-color}
// --input-background-color: #{$input-background-color}
// --input-border-color: #{$input-border-color}
// --input-height: #{$input-height}
// --input-shadow-color: #{$input-shadow-color}
// --input-shadow: #{$input-shadow}
// --input-placeholder-color: #{$input-placeholder-color}
// --input-hover-color: #{$input-hover-color}
// --input-hover-border-color: #{$input-hover-border-color}
// --input-focus-color: #{$input-focus-color}
// --input-focus-border-color: #{$input-focus-border-color}
// --input-focus-box-shadow-size: #{$input-focus-box-shadow-size}
// --input-focus-box-shadow-color: #{$input-focus-box-shadow-color}
// --input-disabled-color: #{$input-disabled-color}
// --input-disabled-background-color: #{$input-disabled-background-color}
// --input-disabled-border-color: #{$input-disabled-border-color}
// --input-disabled-placeholder-color: #{$input-disabled-placeholder-color}
// --input-arrow-color: #{$input-arrow-color}
// --input-icon-color: #{$input-icon-color}
// --input-icon-active-color: #{$input-icon-active-color}
// --input-radius: #{$input-radius}

