@use "sass:list"

@use "shared" as form-shared
@use "../utilities"

$label-font-size: var(--size-normal) !default
$label-color: var(--text-strong) !default
$label-weight: var(--weight-bold) !default

$help-font-size: var(--size-small) !default

$label-colors: form-shared.$form-colors !default

// Map Local variables
$_css-vars-map: ("label-font-size": $label-font-size, "label-color": $label-color, "label-weight": $label-weight)
+utilities.exportCSSVars($_css-vars-map)
+utilities.registerComponentCSSVars("label", $_css-vars-map)
// --label-font-size: #{$label-font-size}
// --label-color: #{$label-color}
// --label-weight: #{$label-weight}

.label
  color: var(--label-color)
  display: block
  font-size: var(--label-font-size)
  font-weight: var(--label-weight)
  &:not(:last-child)
    margin-bottom: 0.5em
  // Sizes
  +utilities.control-sizes(label-font-size)

// Map Local variables
$_css-vars-map: ("help-font-size": $help-font-size)
+utilities.exportCSSVars($_css-vars-map)
+utilities.registerComponentCSSVars("help", $_css-vars-map)
// --help-font-size: #{$help-font-size}

.help
  display: block
  font-size: var(--help-font-size)
  margin-top: 0.25rem
  @each $name, $pair in $label-colors
    $color: list.nth($pair, 1)
    &.is-#{$name}
      color: var(--#{$name})

// Containers

.field
  &:not(:last-child)
    margin-bottom: 0.75rem
  // Modifiers
  &.has-addons
    display: flex
    justify-content: flex-start
    .control
      &:not(:last-child)
        +utilities.ltr-property("margin", -1px)
      &:not(:first-child):not(:last-child)
        .button,
        .input,
        .select select
          border-radius: 0
      &:first-child:not(:only-child)
        .button,
        .input,
        .select select
          +utilities.ltr
            border-bottom-right-radius: 0
            border-top-right-radius: 0
          +utilities.rtl
            border-bottom-left-radius: 0
            border-top-left-radius: 0
      &:last-child:not(:only-child)
        .button,
        .input,
        .select select
          +utilities.ltr
            border-bottom-left-radius: 0
            border-top-left-radius: 0
          +utilities.rtl
            border-bottom-right-radius: 0
            border-top-right-radius: 0
      .button,
      .input,
      .select select
        &:not([disabled])
          &:hover,
          &.is-hovered
            z-index: 2
          &:focus,
          &.is-focused,
          &:active,
          &.is-active
            z-index: 3
            &:hover
              z-index: 4
      &.is-expanded
        flex-grow: 1
        flex-shrink: 1
    &.has-addons-centered
      justify-content: center
    &.has-addons-right
      justify-content: flex-end
    &.has-addons-fullwidth
      .control
        flex-grow: 1
        flex-shrink: 0
  &.is-grouped
    display: flex
    justify-content: flex-start
    & > .control
      flex-shrink: 0
      &:not(:last-child)
        margin-bottom: 0
        +utilities.ltr-property("margin", 0.75rem)
      &.is-expanded
        flex-grow: 1
        flex-shrink: 1
    &.is-grouped-centered
      justify-content: center
    &.is-grouped-right
      justify-content: flex-end
    &.is-grouped-multiline
      flex-wrap: wrap
      & > .control
        &:last-child,
        &:not(:last-child)
          margin-bottom: 0.75rem
      &:last-child
        margin-bottom: -0.75rem
      &:not(:last-child)
        margin-bottom: 0
  &.is-horizontal
    +utilities.tablet
      display: flex

.field-label
  .label
    font-size: inherit
  +utilities.mobile
    margin-bottom: 0.5rem
  +utilities.tablet
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 0
    +utilities.ltr-property("margin", 1.5rem)
    text-align: right
    +utilities.control-sizes
    &.is-small,
    &.is-normal,
    &.is-medium,
    &.is-large
      padding-top: 0.375em

.field-body
  .field .field
    margin-bottom: 0
  +utilities.tablet
    display: flex
    flex-basis: 0
    flex-grow: 5
    flex-shrink: 1
    .field
      margin-bottom: 0
    & > .field
      flex-shrink: 1
      &:not(.is-narrow)
        flex-grow: 1
      &:not(:last-child)
        +utilities.ltr-property("margin", 0.75rem)

$control-radius: var(--radius) !default
$control-radius-small: var(--radius-small) !default

$control-border-width: 1px !default

$control-height: 2.5em !default
$control-line-height: 1.5 !default

$control-padding-vertical: calc(0.5em - var(--control-border-width)) !default
$control-padding-horizontal: calc(0.75em - var(--control-border-width)) !default

$control-font-size: var(--size-normal) !default

// Map Local variables
$_css-vars-map: ("control-radius": $control-radius, "control-radius-small": $control-radius-small, "control-border-width": $control-border-width, "control-height": $control-height, "control-line-height": $control-line-height, "control-padding-vertical": $control-padding-vertical, "control-padding-horizontal": $control-padding-horizontal, "control-font-size": $control-font-size)
+utilities.exportCSSVars($_css-vars-map)
+utilities.registerComponentCSSVars(null, $_css-vars-map)

.control
  box-sizing: border-box
  clear: both
  font-size: var(--control-font-size)
  position: relative
  text-align: inherit
  // Modifiers
  &.has-icons-left,
  &.has-icons-right
    .input,
    .select
      &:focus
        & ~ .icon
          color: var(--input-icon-active-color)
      &.is-small ~ .icon
        font-size: var(--size-small)
      &.is-medium ~ .icon
        font-size: var(--size-medium)
      &.is-large ~ .icon
        font-size: var(--size-large)
    .icon
      color: var(--input-icon-color)
      height: var(--input-height)
      pointer-events: none
      position: absolute
      top: 0
      width: var(--input-height)
      z-index: 4
  &.has-icons-left
    .input,
    .select select
      padding-left: var(--input-height)
    .icon.is-left
      left: 0
  &.has-icons-right
    .input,
    .select select
      padding-right: var(--input-height)
    .icon.is-right
      right: 0
  &.is-loading
    &::after
      @extend %loader
      position: absolute !important
      +utilities.ltr-position(var(--control-padding-horizontal))
      top: calc(50% - (1em / 2))
      z-index: 4
    &.is-small:after
      font-size: var(--size-small)
    &.is-medium:after
      font-size: var(--size-medium)
    &.is-large:after
      font-size: var(--size-large)
