@use "sass:list"

@use "shared" as form-shared
@use "../utilities"

$label-size: var(--size-normal) !default
$label-color: var(--text-strong) !default
$label-weight: var(--weight-bold) !default

$help-font-size: var(--size-small) !default

$label-colors: form-shared.$form-colors !default

// Map Local variables
$-css-vars-map: ("label-size": $label-size, "label-color": $label-color, "label-weight": $label-weight)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("label", $-css-vars-map)
// --label-size: #{$label-size}
// --label-color: #{$label-color}
// --label-weight: #{$label-weight}

.label
  color: var(--label-color)
  display: block
  font-size: var(--label-size)
  font-weight: var(--label-weight)
  &:not(:last-child)
    +utilities.logical-y(margin, 0.5em, $bottom: true)
  // Sizes
  +utilities.control-sizes(label-size)

// Map Local variables
$-css-vars-map: ("help-font-size": $help-font-size)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("help", $-css-vars-map)
// --help-font-size: #{$help-font-size}

.help
  display: block
  font-size: var(--help-font-size)
  +utilities.logical-y(margin, 0.25rem, $bottom: false)
  @each $name, $pair in $label-colors
    $color: list.nth($pair, 1)
    &.is-#{$name}
      color: var(--#{$name})

// Containers

.field
  &:not(:last-child)
    +utilities.logical-y(margin, 0.75rem, $bottom: true)
  // Modifiers
  &.has-addons
    display: flex
    justify-content: flex-start
    .control
      &:not(:last-child)
        +utilities.logical-x(margin, -1px, $right: true)
      &:not(:first-child, :last-child)
        :is(.button, .input, .select select)
          border-radius: 0
      &:first-child:not(:only-child)
        :is(.button, .input, .select select)
          +utilities.logical-border-radius(right, 0)
      &:last-child:not(:only-child)
        :is(.button, .input, .select select)
          +utilities.logical-border-radius(left, 0)
      :is(.button, .input, .select select)
        &:not([disabled])
          &:is(:hover, .is-hovered)
            z-index: 2
          &:is(:focus, .is-focused, :active, .is-active)
            z-index: 3
            &:hover
              z-index: 4
      &.is-expanded
        flex-grow: 1
        flex-shrink: 1
    &.has-addons-centered
      justify-content: center
    &:is(.has-addons-right, .has-addons-end)
      justify-content: flex-end
    &.has-addons-fullwidth
      .control
        flex-grow: 1
        flex-shrink: 0
  &.is-grouped
    display: flex
    justify-content: flex-start
    & > .control
      flex-shrink: 0
      &:not(:last-child)
        +utilities.logical-y(margin, 0, $bottom: true)
        +utilities.logical-x(margin, 0.75rem, $right: true)
      &.is-expanded
        flex-grow: 1
        flex-shrink: 1
    &.is-grouped-centered
      justify-content: center
    &:is(.is-grouped-right, .is-grouped-end)
      justify-content: flex-end
    &.is-grouped-multiline
      flex-wrap: wrap
      & > .control
        &:last-child,
        &:not(:last-child)
          +utilities.logical-y(margin, 0.75rem, $bottom: true)
      &:last-child
        +utilities.logical-y(margin, -0.75rem, $bottom: true)
      &:not(:last-child)
        +utilities.logical-y(margin, 0, $bottom: true)
  &.is-horizontal
    +utilities.tablet
      display: flex

.field-label
  .label
    font-size: inherit
  +utilities.mobile
    +utilities.logical-y(margin, 0.5rem, $bottom: true)
  +utilities.tablet
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 0
    +utilities.logical-x(margin, 1.5rem, $right: true)
    text-align: end
    +utilities.control-sizes
    &:is(.is-small, .is-normal, .is-medium, .is-large)
      +utilities.logical-y(padding, 0.375em, $bottom: false)

.field-body
  .field .field
    +utilities.logical-y(margin, 0, $bottom: true)
  +utilities.tablet
    display: flex
    flex-basis: 0
    flex-grow: 5
    flex-shrink: 1
    .field
      +utilities.logical-y(margin, 0, $bottom: true)
    & > .field
      flex-shrink: 1
      &:not(.is-narrow)
        flex-grow: 1
      &:not(:last-child)
        +utilities.logical-x(margin, 0.75rem, $right: true)

$control-radius: var(--radius) !default
$control-radius-small: var(--radius-small) !default

$control-border-width: 1px !default
$control-size: var(--size-normal) !default

$control-height: 2.5em !default
$control-line-height: 1.5 !default

$control-padding-vertical: calc(0.5em - var(--control-border-width)) !default
$control-padding-horizontal: calc(0.75em - var(--control-border-width)) !default

$control-font-size: var(--size-normal) !default

// Map Local variables
$-css-vars-map: ("control-radius": $control-radius, "control-radius-small": $control-radius-small, "control-border-width": $control-border-width, "control-size": $control-size, "control-height": $control-height, "control-line-height": $control-line-height, "control-padding-vertical": $control-padding-vertical, "control-padding-horizontal": $control-padding-horizontal, "control-font-size": $control-font-size)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars(null, $-css-vars-map)

.control
  box-sizing: border-box
  clear: both
  font-size: var(--control-font-size)
  position: relative
  text-align: inherit
  // Modifiers
  &:is(.has-icons-left, .has-icons-start, .has-icons-right, .has-icons-end)
    :is(.input, .select)
      &:focus
        & ~ .icon
          color: var(--input-icon-active-color)
      &.is-small ~ .icon
        font-size: var(--size-small)
      &.is-medium ~ .icon
        font-size: var(--size-medium)
      &.is-large ~ .icon
        font-size: var(--size-large)
    .icon
      color: var(--input-icon-color)
      height: var(--input-height)
      pointer-events: none
      position: absolute
      top: 0
      width: var(--input-height)
      z-index: 4
  &:is(.has-icons-left, .has-icons-start)
    :is(.input, .select select)
      +utilities.logical-x(padding, var(--input-height), $right: false)
    :is(.icon.is-left, .icon.is-start)
      +utilities.logical-x(inset, 0, $right: false)
  &:is(.has-icons-right, .has-icons-end)
    :is(.input, .select select)
      +utilities.logical-x(padding, var(--input-height), $right: true)
    .icon:is(.is-right, .is-end)
      +utilities.logical-x(inset, 0, $right: true)
  &.is-loading
    &:is(.has-icons-right, .has-icons-end)
      :is(.icon.is-right, .icon.is-end)
        visibility: hidden
    &::after
      @extend %loader
      position: absolute !important
      +utilities.logical-x(inset, var(--control-padding-horizontal), $right: true)
      top: calc(50% - (1em / 2))
      z-index: 4
    &.is-small:after
      font-size: var(--size-small)
    &.is-medium:after
      font-size: var(--size-medium)
    &.is-large:after
      font-size: var(--size-large)
