@use "derived-variables" as vars

$control-radius: var(--radius, #{vars.$radius}) !default
$control-radius-small: var(--radius-small, #{vars.$radius-small}) !default

$control-border-width: 1px !default

$control-height: 2.5em !default
$control-line-height: 1.5 !default

$control-padding-vertical: calc(0.5em - #{$control-border-width}) !default
$control-padding-horizontal: calc(0.75em - #{$control-border-width}) !default

=control
  -moz-appearance: none
  -webkit-appearance: none
  align-items: center
  border: $control-border-width solid transparent
  border-radius: $control-radius
  box-shadow: none
  display: inline-flex
  font-size: vars.$size-normal
  height: $control-height
  justify-content: flex-start
  line-height: $control-line-height
  padding-bottom: $control-padding-vertical
  padding-left: $control-padding-horizontal
  padding-right: $control-padding-horizontal
  padding-top: $control-padding-vertical
  position: relative
  vertical-align: top
  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    outline: none
  &[disabled],
  fieldset[disabled] &
    cursor: not-allowed

/// The controls sizes use mixins so they can be used at different breakpoints
=control-small
  font-size: var(--size-small, #{vars.$size-small})

=control-normal
  font-size: var(--size-normal, #{vars.$size-normal})

=control-medium
  font-size: var(--size-medium, #{vars.$size-medium})

=control-large
  font-size: var(--size-large, #{vars.$size-large})

=control-sizes($variable-name: null, $has-normal: false)
  @if $variable-name
    &.is-small 
      --#{$variable-name}: var(--size-small, #{vars.$size-small})
    @if $has-normal
      &.is-normal 
        --#{$variable-name}: var(--size-normal, #{vars.$size-normal})
    &.is-medium 
      --#{$variable-name}: var(--size-medium, #{vars.$size-medium})
    &.is-large 
      --#{$variable-name}: var(--size-large, #{vars.$size-large})
  @else
    &.is-small
      +control-small
    @if $has-normal
      &.is-normal
        +control-normal
    &.is-medium
      +control-medium
    &.is-large
      +control-large
