@use "mixins"
@use "controls"

// Tl;dr: @extend is perfectly ok for as long as you never use it with any browser spesific selectors. Try to rely on mixins instead!
// https://stackoverflow.com/a/34414503/8815024

// Note that SASS unfortunately does not allow using extends inside media queries (and corresponding example from the above link is wrong).

%control
  +controls.control

%input
  @extend %control
  background-color: var(--input-background-color)
  border-color: var(--input-border-color)
  border-radius: var(--input-radius)
  color: var(--input-color)
  +mixins.placeholder
    color: var(--input-placeholder-color)
    opacity: var(--input-placeholder-opacity)
  &:hover,
  &.is-hovered
    border-color: var(--input-hover-border-color)
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    border-color: var(--input-focus-border-color)
    box-shadow: var(--input-focus-box-shadow-size) var(--input-focus-box-shadow-color)
  &[disabled],
  fieldset[disabled] &
    background-color: var(--input-disabled-background-color)
    border-color: var(--input-disabled-border-color)
    box-shadow: none
    color: var(--input-disabled-color)
    -webkit-text-fill-color: var(--input-disabled-color)
    opacity: 1
    +mixins.placeholder
      color: var(--input-disabled-placeholder-color)
      opacity: var(--input-disabled-placeholder-opacity)

%unselectable
  +mixins.unselectable

%arrow
  +mixins.arrow

%block
  +mixins.block

%delete
  +mixins.delete

%loader
  +mixins.loader

%overlay
  +mixins.overlay

%reset
  +mixins.reset
