@use "sass:math"

@use "../utilities/derived-variables" as vars
@use "../utilities"

$container-offset: (2 * vars.$gap) !default
$container-max-width: vars.$fullhd !default

.container
  flex-grow: 1
  margin: 0 auto
  position: relative
  width: auto
  &.is-fluid
    max-width: none !important
    padding-inline: vars.$gap
    width: 100%
  +utilities.desktop
    max-width: vars.$desktop - $container-offset
  +utilities.until-widescreen
    &.is-widescreen:not(.is-max-desktop)
      max-width: math.min(vars.$widescreen, $container-max-width) - $container-offset
  +utilities.until-fullhd
    &.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen)
      max-width: math.min(vars.$fullhd, $container-max-width) - $container-offset
  +utilities.widescreen
    &:not(.is-max-desktop)
      max-width: math.min(vars.$widescreen, $container-max-width) - $container-offset
  +utilities.fullhd
    &:not(.is-max-desktop):not(.is-max-widescreen)
      max-width: math.min(vars.$fullhd, $container-max-width) - $container-offset
