@use "sass:list"

@use "../utilities/derived-variables" as vars
@use "../utilities"

$notification-background-color: var(--background, #{vars.$background}) !default
$notification-code-background-color: var(--scheme-main, #{vars.$scheme-main}) !default
$notification-radius: var(--radius, #{vars.$radius}) !default
$notification-padding: 1.25rem 2.5rem 1.25rem 1.5rem !default
$notification-padding-ltr: 1.25rem 2.5rem 1.25rem 1.5rem !default
$notification-padding-rtl: 1.25rem 1.5rem 1.25rem 2.5rem !default

$notification-colors: vars.$colors !default

// Map Local variables
$_css-vars-map: ('notification-background-color': $notification-background-color, 'notification-code-background-color': $notification-code-background-color, 'notification-radius': $notification-radius, 'notification-padding-ltr': $notification-padding-ltr, 'notification-padding-rtl': $notification-padding-rtl)
+utilities.exportCSSVars($_css-vars-map)
+utilities.registerComponentCSSVars('notification', $_css-vars-map)
// --notification-background-color: #{$notification-background-color}
// --notification-code-background-color: #{$notification-code-background-color}
// --notification-radius: #{$notification-radius}
// --notification-padding-ltr: #{$notification-padding-ltr}
// --notification-padding-rtl: #{$notification-padding-rtl}

.notification
  @extend %block
  background-color: var(--notification-background-color)
  border-radius: var(--notification-radius)
  color: var(--notification-color)
  position: relative
  +utilities.ltr
    padding: var(--notification-padding-ltr)
  +utilities.rtl
    padding: var(--notification-padding-rtl)
  a:not(.button):not(.dropdown-item)
    color: currentColor
    text-decoration: underline
  strong
    color: currentColor
  code,
  pre
    background: var(--notification-code-background-color)
  pre code
    background: transparent
  & > .delete
    +utilities.ltr-position(0.5rem)
    position: absolute
    top: 0.5rem
  .title,
  .subtitle,
  .content
    color: currentColor
  // Colors
  @each $name, $pair in $notification-colors
    $color: list.nth($pair, 1)
    $color-invert: list.nth($pair, 2)
    &.is-#{$name}
      --notification-background-color: var(--#{$name}, #{$color})
      --notification-color: var(--#{$name}-invert, #{$color-invert})
      // If light and dark colors are provided
      @if list.length($pair) >= 4
        $color-light: list.nth($pair, 3)
        $color-dark: list.nth($pair, 4)
        &.is-light
          --notification-background-color: var(--#{$name}-light, #{$color-light})
          --notification-color: var(--#{$name}-dark, #{$color-dark})
