@use "sass:list"

@use "../utilities/derived-variables" as vars
@use "../utilities"

$table-color: var(--text-strong) !default
$table-background-color: var(--scheme-main) !default

$table-cell-border: 1px solid var(--border) !default
$table-cell-border-width: 0 0 1px !default
$table-cell-padding: 0.5em 0.75em !default
$table-cell-heading-color: var(--text-strong) !default
$table-cell-text-align: left !default

$table-head-cell-border-width: 0 0 2px !default
$table-head-cell-color: var(--text-strong) !default
$table-foot-cell-border-width: 2px 0 0 !default
$table-foot-cell-color: var(--text-strong) !default

$table-head-background-color: transparent !default
$table-body-background-color: transparent !default
$table-foot-background-color: transparent !default

$table-row-hover-background-color: var(--scheme-main-bis) !default

$table-row-active-background-color: var(--primary) !default
$table-row-active-color: var(--primary-invert) !default

$table-striped-row-even-background-color: var(--scheme-main-bis) !default
$table-striped-row-even-hover-background-color: var(--scheme-main-ter) !default

$table-colors: vars.$colors !default

// Map Local variables
$-css-vars-map: ('table-color': $table-color, 'table-cell-border-width': $table-cell-border-width, 'table-cell-border': $table-cell-border, 'table-cell-heading-color': $table-cell-heading-color, 'table-cell-text-align': $table-cell-text-align, 'table-cell-padding': $table-cell-padding, 'table-head-cell-border-width': $table-head-cell-border-width, 'table-head-cell-color': $table-head-cell-color, 'table-foot-cell-border-width': $table-foot-cell-border-width, 'table-foot-cell-color': $table-foot-cell-color, 'table-head-background-color': $table-head-background-color, 'table-body-background-color': $table-body-background-color, 'table-foot-background-color': $table-foot-background-color, 'table-row-hover-background-color': $table-row-hover-background-color, 'table-row-active-background-color': $table-row-active-background-color, 'table-row-active-color': $table-row-active-color, 'table-striped-row-even-background-color': $table-striped-row-even-background-color, 'table-striped-row-even-hover-background-color': $table-striped-row-even-hover-background-color)
+utilities.exportCSSVars($-css-vars-map)
+utilities.registerComponentCSSVars("table", $-css-vars-map)
// --table-color: #{$table-color}
// --table-cell-border-width: #{$table-cell-border-width}
// --table-cell-border: #{$table-cell-border}
// --table-cell-heading-color: #{$table-cell-heading-color}
// --table-cell-padding: #{$table-cell-padding}
// --table-head-cell-border-width: #{$table-head-cell-border-width}
// --table-head-cell-color: #{$table-head-cell-color}
// --table-foot-cell-border-width: #{$table-foot-cell-border-width}
// --table-foot-cell-color: #{$table-foot-cell-color}
// --table-head-background-color: #{$table-head-background-color}
// --table-body-background-color: #{$table-body-background-color}
// --table-foot-background-color: #{$table-foot-background-color}
// --table-row-hover-background-color: #{$table-row-hover-background-color}
// --table-row-active-background-color: #{$table-row-active-background-color}
// --table-row-active-color: #{$table-row-active-color}
// --table-striped-row-even-background-color: #{$table-striped-row-even-background-color}
// --table-striped-row-even-hover-background-color: #{$table-striped-row-even-hover-background-color}

.table
  @extend %block
  background-color: var(--table-background-color)
  color: var(--table-color)
  :is(td, th)
    border: var(--table-cell-border)
    border-width: var(--table-cell-border-width)
    padding: var(--table-cell-padding)
    vertical-align: top
    // Colors
    @each $name, $pair in $table-colors
      $color: list.nth($pair, 1)
      $color-invert: list.nth($pair, 2)
      &.is-#{$name}
        background-color: var(--#{$name})
        border-color: var(--#{$name})
        color: var(--#{$name}-invert)
    // Modifiers
    &.is-narrow
      white-space: nowrap
      width: 1%
    &.is-selected
      background-color: var(--table-row-active-background-color)
      color: var(--table-row-active-color)
      :is(a, strong)
        color: currentColor
    &.is-vcentered
      vertical-align: middle
  th
    color: var(--table-cell-heading-color)
    &:not([align])
      text-align: var(--table-cell-text-align)
  tr
    &.is-selected
      background-color: var(--table-row-active-background-color)
      color: var(--table-row-active-color)
      :is(a, strong)
        color: currentColor
      :is(td, th)
        border-color: var(--table-row-active-color)
        color: currentColor
  thead
    background-color: var(--table-head-background-color)
    :is(td, th)
      border-width: var(--table-head-cell-border-width)
      color: var(--table-head-cell-color)
  tfoot
    background-color: var(--table-foot-background-color)
    :is(td, th)
      border-width: var(--table-foot-cell-border-width)
      color: var(--table-foot-cell-color)
  tbody
    background-color: var(--table-body-background-color)
    tr
      &:last-child
        :is(td, th)
          border-bottom-width: 0
  // Modifiers
  &.is-bordered
    :is(td, th)
      border-width: 1px
    tr
      &:last-child
        :is(td, th)
          border-bottom-width: 1px
  &.is-fullwidth
    width: 100%
  &.is-hoverable
    tbody
      tr:not(.is-selected)
        &:hover
          background-color: var(--table-row-hover-background-color)
    &.is-striped
      tbody
        tr:not(.is-selected)
          &:hover
            background-color: var(--table-row-hover-background-color)
            &:nth-child(even)
              background-color: var(--table-striped-row-even-hover-background-color)
  &.is-narrow
    :is(td, th)
      padding: 0.25em 0.5em
  &.is-striped
    tbody
      tr:not(.is-selected)
        &:nth-child(even)
          background-color: var(--table-striped-row-even-background-color)

.table-container
  @extend %block
  +utilities.overflow-touch
  overflow: auto
  overflow-y: hidden
  max-width: 100%
