@charset "utf-8";

/// In order to customize all global variables
/// directly on bulma.sass
/// like @use 'bulma.sass' with ()
@forward "sass/utilities/derived-variables";
@forward "themes/light";

@forward "sass/base";
@forward "sass/elements";
@forward "sass/form";
@forward "sass/components";
@forward "sass/grid";
@forward "sass/helpers";
@forward "sass/layout";
